<h1>Weather Conditions Dashboard</h1>

<h2>Rides by Temperature</h2>
<table>
  <thead>
    <tr>
      <th>Temp Range</th>
      <th>Average Rides</th>
      <th>Most Rides</th>
      <th>Least Rides</th>
    </tr>
  </thead>
  <tbody>
    <% Condition.get_intervals_10('mean_temp').each do |intervals| %>
    <tr>
      <td><%= intervals[0] %>-<%= intervals[1] %></td>
      <td><%= Condition.ave_rides_per_condition(:mean_temp, intervals[0], intervals[1]) %></td>
      <td><%= Condition.most_rides_per_condition(:mean_temp, intervals[0], intervals[1]) %></td>
      <td><%= Condition.fewest_rides_per_condition(:mean_temp, intervals[0], intervals[1]) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2>Rides by Precipitaion</h2>
<table>
  <thead>
    <tr>
      <th>Precipitation Ranges</th>
      <th>Average Rides</th>
      <th>Most Rides</th>
      <th>Least Rides</th>
    </tr>
  </thead>
  <tbody>
    <% Condition.get_intervals_0_50('precipitation').each do |intervals| %>
    <tr>
      <td><%= intervals[0] %>-<%= intervals[1] %></td>
      <td><%= Condition.ave_rides_per_condition(:precipitation, intervals[0], intervals[1]) %></td>
      <td><%= Condition.most_rides_per_condition(:precipitation, intervals[0], intervals[1]) %></td>
      <td><%= Condition.fewest_rides_per_condition(:precipitation, intervals[0], intervals[1]) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2>Rides by Wind Speed</h2>
<table>
  <thead>
    <tr>
      <th>Wind Speed Ranges</th>
      <th>Average Rides</th>
      <th>Most Rides</th>
      <th>Least Rides</th>
    </tr>
  </thead>
  <tbody>
    <% Condition.get_intervals_4('mean_wind_speed').each do |intervals| %>
    <tr>
      <td><%= intervals[0] %>-<%= intervals[1] %></td>
      <td><%= Condition.ave_rides_per_condition(:mean_wind_speed, intervals[0], intervals[1]) %></td>
      <td><%= Condition.most_rides_per_condition(:mean_wind_speed, intervals[0], intervals[1]) %></td>
      <td><%= Condition.fewest_rides_per_condition(:mean_wind_speed, intervals[0], intervals[1]) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h2>Rides by Visibility</h2>
<table>
  <thead>
    <tr>
      <th>Visibility Ranges</th>
      <th>Average Rides</th>
      <th>Most Rides</th>
      <th>Least Rides</th>
    </tr>
  </thead>
  <tbody>
    <% Condition.get_intervals_4('mean_visibility').each do |intervals| %>
    <tr>
      <td><%= intervals[0] %>-<%= intervals[1] %></td>
      <td><%= Condition.ave_rides_per_condition(:mean_visibility, intervals[0], intervals[1]) %></td>
      <td><%= Condition.most_rides_per_condition(:mean_visibility, intervals[0], intervals[1]) %></td>
      <td><%= Condition.fewest_rides_per_condition(:mean_visibility, intervals[0], intervals[1]) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
