<h1>Edit Condition from <%= @condition.date %>:</h1>

<form action="/conditions/<%= @condition.id %>" method="POST" class="container" id="needs-validation" novalidate>
  <div class="row">
    <div class="col-md-6 mb-1">
      <label for="validationCustom01">Date: </label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="condition[date]" value="YYYY-MM-DD" required>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom01">Max Temperature: </label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="condition[max_temperature]" value="<%= @condition.max_temperature %>" required>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom01">Mean Temperature: </label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="condition[mean_temperature]" value="<%= @condition.mean_temperature %>" required>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom01">Min Temperature: </label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="condition[min_temperature]" value="<%= @condition.min_temperature %>" required>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom01">Mean Humidity: </label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="condition[mean_humidity]" value="<%= @condition.mean_humidity %>" required>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom01">Mean Visibility: </label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="condition[mean_visibility]" value="<%= @condition.mean_visibility %>" required>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom01">Mean Windspeed: </label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="condition[mean_windspeed]" value="<%= @condition.mean_windspeed %>" required>
    </div>
    <div class="col-md-6 mb-1">
      <label for="validationCustom01">Precipitation: </label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="condition[precipitation]" value="<%= @condition.precipitation %>" required>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Update Condition</button>
</form>
