<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Weather</title>
  </head>
  <body class="weather_body">
    <h1>Edit Weather</h1>

    <form action="/conditions/<%= @condition.id %>" method="post">
      <input type="hidden" name="_method" value="PUT" />
      <label for="">Date</label>
      <input type="textfield" name="condition[date]" value="<%= @condition.date %>"><br>
      <label for="">Max Temp:</label>
      <input type="textfield" name="condition[max_temperature_f]" value="<%= @condition.max_temperature_f %>"><br>
      <label for="">Mean Temp:</label>
      <input type="textfield" name="condition[mean_temperature_f]" value="<%= @condition.mean_temperature_f %>"><br>
      <label for="">Min Temp:</label>
      <input type="textfield" name="condition[min_temperature_f]" value="<%= @condition.min_temperature_f %>"><br>
      <label for="">Mean Humidity:</label>
      <input type="textfield" name="condition[mean_humidity]" value="<%= @condition.mean_humidity %>"><br>
      <label for="">Mean Visibility (in miles):</label>
      <input type="textfield" name="condition[mean_visibility_miles]" value="<%= @condition.mean_humidity %>"><br>
      <label for="">Mean Wind Speed (mph):</label>
      <input type="textfield" name="condition[mean_wind_speed_mph]" value="<%= @condition.mean_wind_speed_mph %>"><br>
      <label for="">Precipitation (inches):</label>
      <input type="textfield" name="condition[precipitation_inches]" value=" <%= @condition.precipitation_inches %>"><br>
      <label for="">Zipcode:</label>
      <input type="textfield" name="condition[zip_code]" value="<%= @condition.zip_code %>"><br>


      <input type="submit" value="Submit">

    </form>
  </body>
</html>
