<h1>Edit Weather</h1>

<form action="/conditions/<%= @condition.id %>/edit" method="post">
  <input type="hidden" name='_method' value='PUT' />
  Date:  <input type="textfield" name='condition[date]' value="<%= @condition.date %>"/>
  Zip Code: <input type="textfield" name="condition[zip_code]" value="<%= @condition.zip_code %>"/>
  Max Temperature: <input type="textfield" name="condition[max_temperature]" value="<%= @condition.maximum_temperature %>" />
  Mean Temperature: <input type="textfield" name="condition[mean_temperature]" value="<%= @condition.mean_temperature %>" />
  Min Temperature: <input type="textfield" name="condition[minimum_temperature]" value="<%= @condition.minimum_temperature %>" />
  Mean Humidity: <input type="textfield" name="condition[mean_humidity]" value="<%= @condition.mean_humidity %>" />
  Mean Visibility (in Miles): <input type="textfield" name="condition[mean_visibility]" value="<%= @condition.mean_visibility %>" />
  Mean Wind Speed (mph): <input type="textfield" name="condition[mean_wind_speed]" value="<%= @condition.mean_wind_speed %>" />
  Precipitation (inches): <input type="textfield" name="condition[percipitation]" value"<%= @condition.percipitation.to_s %>" />
  <input type="submit" value="Submit" />
</form>
