<h1>Edit Condition [<%= @condition.id %>]</h1>

<form action="/conditions/<%=@condition.id%>" method="post">
  <p>Please fill in all fields with information you would like to change</p>
  <input type="hidden" name="_method" value="PUT">
  <h3>Date</h3>
  <!-- <input type="date" name="condition[date]" value="<%= @condition.ride_date.day %>"><br> -->
  <h3>Max Temperature</h3>
  <input type="integer" name="condition[max_temperature]" value="<%= @condition.max_temperature %>"><br>
  <h3>Mean Temperature</h3>
  <input type="integer" name="condition[mean_temperature]" value="<%= @condition.mean_temperature %>"><br>
  <h3>Min Temperature</h3>
  <input type="integer" name="condition[min_temperature]" value="<%= @condition.min_temperature %>"><br>
  <h3>Mean Humidity</h3>
  <input type="integer" name="condition[mean_humidity]" value="<%= @condition.mean_humidity %>"><br>
  <h3>Mean Visibility (in Miles)</h3>
  <input type="integer" name="condition[mean_visibility]" value="<%= @condition.mean_visibility %>"><br>
  <h3>Mean Wind Speed (mph)</h3>
  <input type="integer" name="condition[mean_wind_speed]" value="<%= @condition.mean_wind_speed %>"><br>
  <h3>Precipitation (inches)</h3>
  <input type="integer" name="condition[precipitation]" value="<%= @condition.precipitation %>"><br>
  <input type="submit" value="Submit changes">
</form>
