<form action="/conditions/<%= @condition.id %>" method="post">
  <input type="hidden" name="_method" value="PUT" />
  Date<br>
  <input type='datetime-local'  name='condition[date]' value=<%=@condition.date.strftime("%Y-%m-%dT%H:%M")%> >째F<br>
  Maximum Temperature<br>
  <input type='number'  name='condition[max_temp]' value=<%=@condition.max_temp%> >째F<br>
  Minimum Temperature<br>
  <input type='number'  name='condition[min_temp]' value=<%=@condition.min_temp%> >째F<br>
  Average Temperature<br>
  <input type='number'  name='condition[mean_temp]' value=<%=@condition.mean_temp%> >째F<br>
  Average Humidity<br>
  <input type='number'  name='condition[mean_humidity]' value=<%=@condition.mean_humidity%> >%<br>
  Average Visibility<br>
  <input type='number'  name='condition[mean_visibility]' value=<%=@condition.mean_visibility%> > miles<br>
  Average Wind Speed<br>
  <input type='number'  name='condition[mean_wind_speed]' value=<%=@condition.mean_wind_speed%> > mph<br>
  Precipitation<br>
  <input type='number' step=0.1  name='condition[precipitation]' value=<%=@condition.precipitation%> > inches<br>

  <input type='submit' value='Submit'>
</form>
