<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Conditions</title>
  </head>
  <body>
    <h1>Conditions Index</h1>

    <div class="condition-container">
      <% @conditions.each do |condition| %>
        <div class="zip-code-conditions">
          <p>Date: <%= condition.date %></p><br>
          <p>Max Temp: <%= condition.max_temperature_f %></p><br>
          <p>Mean Temp: <%= condition.mean_temperature_f %></p><br>
          <p>Min Temp: <%= condition.min_temperature_f %></p><br>
          <p>Mean Humidity: <%= condition.mean_humidity %></p><br>
          <p>Mean Visibility: <%= condition.mean_visibility_miles %></p><br>
          <p>Mean Wind Speed: <%= condition.mean_wind_speed_mph %></p><br>
          <p>Precip: <%= condition.precipitation_inches %></p><br>
          <p>Zip Code: <%= condition.zip_code %></p><br>
          <div class="edit-delete">
            <a class="edit" href="/conditions/<%= condition.id%>/edit">Edit</a><br>
            <form action="/conditions/<%= condition.id %>" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <input class="delete" type="submit" value="Delete">
            </form>
          </div>
        </div>
      <% end %>

  </body>
</html>
