<div class="jumbotron">
  <h1>Conditions</h1>
</div>
<div class="table-responsive">
  <table class="table text-left">
    <tr>
      <th>Date</th>
      <th>Max Temperature</th>
      <th>Zip Code</th>
      <th>Edit</th>
      <th>Delete</th>
        </tr>
        <% @weathers.each do |w| %>
        <tr>
          <td><%= w.date %></td>
          <td><%= w.max_temperature_f.round %> F</td>
          <td><%= w.zip %></td>
          <td>
            <form action="/weather/<%= w.id %>/edit" method="get">
              <button type="submit" class="btn btn-primary btn active btn-sm" role="button" aria-pressed="true" value="edit">Edit</a>
            </form>
          </td>

          <td>
            <form action="/weather/<%= w.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn btn-primary btn active btn-sm" role="button" aria-pressed="true" value="delete">Delete</a>
            </form>
          </td>
        </tr>
        <% end %>
      </table>
      <%= will_paginate @weathers %>
    </div>
