<h1>All Weather Conditions Per Day</h1>

<%= will_paginate @conditions %>

<% @conditions.each do |condition| %>
  <a href="/conditions/<%=condition.id%>"><h4><%= condition.date.strftime("%B %d, %Y") %></h4></a>
  <p>Maximum Temperature: <%= condition.max_temp %>°F</p>
  <p>Minimum Temperature: <%= condition.min_temp %>°F</p>
  <p>Average Temperature: <%= condition.mean_temp %>°F</p>
  <p>Average Humidity: <%= condition.mean_humidity %>%</p>
  <p>Average Visibility: <%= condition.mean_visibility %> miles</p>
  <p>Average Wind Speed: <%= condition.mean_wind_speed %> mph</p>
  <p>Precipitation: <%= condition.precipitation %> inches</p>
  <br>
  <a class="btn btn-primary" href='/conditions/<%= condition.id %>/edit'>edit</a>
  <form action="/conditions/<%= condition.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input class="btn btn-danger" type="submit" value="Delete Condition">
  </form>
<% end %>

<%= will_paginate @conditions %>
