<h1>Weather Conditions</h1>

<a href="/conditions/new">Create New</a>
<a href="/conditions-dashboard">View Weather Stats</a>


<div>
  <% @conditions.each do |condition| %>
  <p>Trip on: <%= condition.date %> </p>
  <p>Max Temp: <%= condition.max_temperature_f %></p><br>
  <p>Mean Temp: <%= condition.mean_temperature_f %></p><br>
  <p>Min Temp: <%= condition.min_temperature_f %></p><br>
  <p>Mean Humidity: <%= condidtion.mean_humidity %></p><br>
  <p>Mean Visibility(in miles): <%= condidtion.mean_visibility_miles %></p>
  <p>Mean Wind Speed (mph): <%= condidtion.mean_wind_speed_mph %></p><br>
  <p>Prcipitation(inches): <%= condidtion.pre %></p><br>
  <a href="/trips/<%= trip.id %>/edit">Edit Trip</a>

  <form action="/trips/<%= trip.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form>
  <% end %>

</div>

<%= will_paginate @trips %>
