
<h1>All Conditons</h1>

  <% @conditions.each do |condition| %>
    <p>Date: <%= condition.date %></p>
    <p>Max Temperature: <%= condition.max_temperature %></p>
    <p>Mean Temperature: <%= condition.mean_temperature %></p>
    <p>Min Temperature: <%= condition.min_temperature %></p>
    <p>Mean Humidity: <%= condition.mean_humidity %></p>
    <p>Mean Visibility: <%= condition.mean_visibility %></p>
    <p>Mean Wind Speed: <%= condition.mean_wind_speed %></p>
    <p>Precipitation: <%= condition.precipitation %></p>

    <a href="/conditions/<%= condition.id %>/edit">Edit</a>
    <form action="/conditions/<%= condition.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" class="w3-button w3-block w3-pink" value="delete"/>

<% end %>
