  <h1>
    <%= @condition.date %>
  </h1>

  <p>Max Temp: <%= @condition.max_temperature %> °F</p>

  <p>Min Temp: <%= @condition.min_temperature %> °F</p>

  <p>Mean Humidity: <%= @condition.mean_humidity %> %</p>

  <p>Mean Visibility: <%= @condition.mean_visibility %> miles</p>

  <p>Mean Windspeed: <%= @condition.mean_windspeed %> mph</p>

  <p>Precipitation: <%= @condition.precipitation %> %</p>
