<h1><%= @condition.date %></h1>

<h2>Weather Conditions</h2>


<h2>Temperatures (F)</h2>

<p>Max Temparature <%= @condition.max_temperature_f %></p>
<p>Mean Temparature <%= @condition.mean_temperature_f %></p>
<p>Min Temparature <%= @condition.min_temperature_f %></p>

<p>Mean Humidity<%= @condition.mean_humidity %></p>

<p>Mean Visibility (Miles)<%= @condition.mean_visibility_miles %></p>

<p>Mean Wind Speed (MPH)<%= @condition.mean_wind_speed_mph %></p>

<p>Precipitation (Inches)<%= @condition.precipitation_inches %></p>
