<h1><%= @conditions.date %></h1>

<h2>Weather Conditions</h2>


<h2>Temperatures (F)</h2>

<p>Max Temparature <%= @conditions.max_temp %></p>
<p>Mean Temparature <%= @conditions.mean_temp %></p>
<p>Min Temparature <%= @conditions.min_temp %></p>

<p>Mean Humidity<%= @conditions.mean_humidity %></p>

<p>Mean Visibility (Miles)<%= @conditions.mean_visibility %></p>

<p>Mean Wind Speed (MPH)<%= @conditions.mean_wind_speed %></p>

<p>Precipitation (Inches)<%= @conditions.precipitation %></p>
