    <h1 class="title">Trips Dashboard</h1>

    <ul>
      <li>Average Ride Duration: <%= @trips.average_duration %> minutes</li>
      <li>Longest Ride: <%= @trips.longest_trip.duration %> minutes</li>
      <li>Shortest Ride: <%= @trips.shortest_trip.duration %> minutes</li>
      <li>Most Frequent Starting Station: <%= @trips.name_popular_starting_station %></li>
      <li>Most Frequent Ending Station: <%= @trips.name_popular_ending_station %></li>
      <li>Most Popular Bike: Bike <%= @trips.most_popular_bike %> Trips: <%= @trips.most_ridden_bike_count %></li>
      <li>Least Popular Bike: Bike <%= @trips.least_popular_bike %> Trips: <%= @trips.least_popular_bike_count %></li>
      <li>Subscription Breakdown: <%= @trips.subscription_breakdown %></li>
      <li>Busiest Day: <%= @trips.busiest_day %></li>
        <p>Weater Conditions:</p>
        <% condition = @conditions.conditions_for_busiest_day %>
        <ul>
          <li>Maximum Temperature: <%= condition.max_temp %></li>
          <li>Mean Temperature: <%= condition.mean_temp %></li>
          <li>Minimum Temperature: <%= condition.min_temp %></li>
          <li>Mean Humidity: <%= condition.mean_humidity %></li>
          <li>Mean Visibility (in miles): <%= condition.mean_visibility %></li>
          <li>Mean Wind Speed (mph): <%= condition.mean_wind %></li>
          <li>Precipitation (inches): <%= condition.precipitation %></li>
        </ul>
        <br>
      <li>Least Busy Day: <%= @trips.least_busy_day %></li>
        <p>Weater Conditions:</p>
        <% condition = @conditions.conditions_for_least_busy_day %>
        <ul>
          <li>Maximum Temperature: <%= condition.max_temp %></li>
          <li>Mean Temperature: <%= condition.mean_temp %></li>
          <li>Minimum Temperature: <%= condition.min_temp %></li>
          <li>Mean Humidity: <%= condition.mean_humidity %></li>
          <li>Mean Visibility (in miles): <%= condition.mean_visibility %></li>
          <li>Mean Wind Speed (mph): <%= condition.mean_wind %></li>
          <li>Precipitation (inches): <%= condition.precipitation %></li>
        </ul>
    </ul>


<div class="container all-stations">
  <div class="panel">
    <div class="panel-heading stations-panel">Month by Month Breakdown</div>
    <table class="table table-striped table-hover table-condensed table-bordered">
    <tr>
      <th>Year</th>
      <% @trips.monthly_totals[2013].each do |k, v| %>
        <th><%= k %></th>
      <% end %>
      <th>Subtotal</th>
    </tr>
    <% @trips.monthly_totals.each do |k, v| %>
      <tr>
        <td><%= k %></td>
          <% v.each do |k, v| %>
            <td><%= v %></td>
          <% end %>
          <td><%= v.values.sum %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>