    <h1 class="title">Trips Dashboard</h1>

    <ul>
      <li>Average Ride Duration: <%= @trips.average_duration %></li>
      <li>Longest Ride: <%= @trips.longest_trip.duration %> minutes</li>
      <li>Shortest Ride: <%= @trips.shortest_trip.duration %> minutes</li>
      <li>Most Frequent Starting Station: <%= @trips.name_popular_starting_station %></li>
      <li>Most Frequent Ending Station: <%= @trips.name_popular_ending_station %></li>
      <li>Most Popular Bike: <%= @stations.newest_station %></li>
      <li>Least Popular Bike: <%= @stations.oldest_station %></li>
      <li>Subscription Breakdown: <%= @stations.station_with_fewest_bikes %></li>
      <li>Busiest Day: <%= @stations.newest_station %></li>
      <li>Least Busy Day: <%= @stations.oldest_station %></li>
    </ul>

    <div class="container all-stations">

  <div class="panel">
    <div class="panel-heading stations-panel">All Trips</div>
    <table class="table table-striped table-hover table-condensed">
      <tr>
        <th>Month</th>
        <th>2013</div></th>
        <th>2014</th>
      </tr>

      <% @trips.rides_by_month.each do |k, v| %>
        <tr>
          <td><%= data.k.split.first %></div></td>
          <td><div class="station-name"><a href="/trips/<%= trip.id %>"><%= trip.start_date %></a></div></td>
          <td><%= trip.duration %> minutes</td>
          <td><%= trip.start_station.name %></td>
          <td><%= trip.end_station.name %></td>
          <td><%= trip.bike.bike_number %></td>
          <td><div id="edit-button"><button type="button"><a href="/trips/<%= trip.id %>/edit">Edit</a></button></div></td>
          <td>
            <form action="/trips/<%= trip.id %>" method="post">
              <div class="form-group delete-button">
                <input type="hidden" name="_method" value="DELETE" />
                <input type="submit" value="Delete">
              </div>
            </form>
          </td>
        </tr>
      <% end%>
    </table>
  </div>
</div>
