<body>
<div class="container background-stations">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-beam">
    </div>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img class="brand-logo" alt="Brand" src="bs.png" >
        </a>
        <h1> Trips Dashboard</h1>
      </div>
      <div class="nav navbar-nav navbar-left" href="/train-dashboard">
        <span class="glyphicon glyphicon-home white" aria-hidden="true"></span>
      </div>
    </div>
  </nav>

  <div class="container container-body">
    <div class="index-button">
      <button class="btn btn-info"><span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span>
      <a href="/stations">View Trips</a>
      </button>
    </div>
    <div class=" container stat-container">
        <div class="row text-center first-row">
          <div class="col-md-4 first-block">
            <div class="panel panel-default panel-data">
            <h2 class="popup popup-first"> trip <strong>#</strong> duration stats: </h2>
            <div class="panel panel-default panel-data">
              <div class="panel-body">
                  <h3 class="stat"> average ride lasts: <%= @ave_duration_ride/60 %> minutes </h3>
              </div>
          <div class="col-md-4 first-block">
            <h2 class="popup popup-bigger"> longest ride to date</h2>
            <div class="panel panel-default panel-data">
              <div class="panel-body">
                  <h3 class="stat"><%= @longest_ride/60 %> minutes </h3>
              </div>
            </div>
          <div class="col-md-4 first-block">
              <div class="panel-body">
                  <h3 class="stat"> the shortest ride is exactly: <%= @shortest_ride/60 %> minute! </h3>
              </div>
            </div>
          </div>
        <div class="row text-center second-row">
          <div class="col-md-6 second-block">
            <div class="panel panel-default panel-data">
              <div class="panel-body blue">
                <h2 class="popup popup-smaller"> the most visits from <strong>#</strong> zipcode: </h2>
                <h3 class="stat"> <%= @most_frequent_zipcode %> </h3>
              </div>
            </div>
          </div>
<!-- different from layout for stations; added divs for trips  -->
        </div>
          <div class="col-md-6 second-block">
            <div class="panel panel-default panel-data">
              <div class="panel-body blue">
                <h2 class="popup popup-smaller"> most frequent <strong>#</strong> start station: </h2>
                <h3 class="stat"> <%= @most_start_station_name %> </h3>
              </div>
            </div>
          </div>

      </div>
      <div class="col-md-6 second-block">
        <div class="panel panel-default panel-data">
          <div class="panel-body blue">
            <h2 class="popup popup-smaller"> most frequent <strong>#</strong> end station: </h2>
            <h3 class="stat"> <%= @most_end_station %> </h3>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-6 second-block">
      <div class="panel panel-default panel-data">
        <div class="panel-body blue">
          <h2 class="popup popup-smaller"> stats for <strong>#</strong> users: </h2>
          <h3 class="stat"> Subscribers: <%= @subscriber_count %> </h3>
          <h3 class="stat"> Subscribers: <%= @subscriber_percent %> % </h3>
          <h3 class="stat"> Customers: <%= @customers_count %> </h3>
          <h3 class="stat"> Customers: <%= @customer_percent %> % </h3>
        </div>
      </div>
    </div>

        </div> <!-- first  row -->
        `<div class="row text-center">
          <div class="col-md-6">
            <div class="panel panel-default panel-data">
              <div class="panel-body blue">
                  <h2 class="popup popup-bigger"> most <strong>#</strong> trips taken on this date: </h2>
                  <h3 class="stat"> <%= @date_few_trips_date %> </h3>
                  <h3 class="stat"> <%= @date_few_trips_count %> rides </h3>
              </div>
            </div>

            <div class="panel panel-default panel-data">
              <div class="panel-body blue">
                  <h2 class="popup popup-bigger"> least <strong>#</strong> trips taken on this date: </h2>
                  <h3 class="stat"> <%= @date_most_trips_date %> </h3>
                  <h3 class="stat"> <%= @date_most_trips_count %> rides </h3>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <h2 class="popup popup-bigger"> least used <strong>#</strong> bike: </h2>
            <div class="panel panel-default panel-data">
              <div class="panel-body">
                  <h3 class="stat"> ridden <%= @bike_least_rides %> times </h3>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <h2 class="popup popup-bigger"> most used <strong>#</strong> bike: </h2>
            <div class="panel panel-default panel-data">
              <div class="panel-body">
                  <h3 class="stat"> ridden <%= @bike_most_rides %> times </h3>
              </div>
            </div>
          </div>

        </div> <!-- second  row -->
      </div> <!-- stats -->
  </div> <!-- opening container -->
  <div class="row text-center">
    <div class="container body-beam">
    </div>
    <div class="col-md-6">
      <div class="panel panel-default panel-background">
        <div class="panel-header"><h2> Rides by Year </div>
      </div>
        <div class="table-left">
        <table>
          <tr>
            <th> 2013: </th>
            <th> 2014: </th>
            <th> 2015: </th>
          </tr>

          <tr>
            <td class="nudge-right"><%= @total_rides_2013 %></td>
            <td class="nudge-right"><%= @total_rides_2014 %></td>
            <td class="nudge-right"><%= @total_rides_2015 %></td>
          </tr>

        </table>
      </div>
    </div>

    <div class="col-md-6">
      <!-- <div class="panel panel-default panel-background">
        <div class="panel-header"><h2>Stations With Fewest #Bikes</div>
      </div> -->
      <div class="table-right">
      <!-- <table>
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>Dock Count</th>
          <th>Installation Date</th>
        </tr>

      </table> -->
      </div>
    </div>
  </div>
  <hr/>
  <div class="row text-center">


    <div class="container col-md-6 border-me">
      <div class="panel panel-default panel-background">
        <div class="panel-header"><h2>Rides in 2014: </div>
      </div>


        <% @rides_by_month_2013.each do |month, count| %>
        <tr>
         <td class="nudge-right"> <%= "There are #{count} rides in #{month} in 2013" %> </td>
         <%= end %>
        </tr>

        <% @rides_by_month_2014.each do |month, count| %>
        <tr>
          <td class="nudge-right"> <%= "There are #{count} rides in #{month} in 2014" %> </td>
          <%= end %>
        </tr>

        <% @rides_by_month_2015.each do |month, count| %>
        <tr>
         <td class="nudge-right"> <%= "There are #{count} rides in #{month} in 2015" %> </td>
         <% end %>
       </tr>

     </div>
</body>
