<h3>Trips Dashboard</h3>
<p>The average duration of a ride is <%= Trip.average_duration%> minutes</p>
<p>The longest ride was <%=Trip.longest_ride%> minutes.</p>
<p>The shortest ride was <%=Trip.shortest_ride%> minutes.</p>
<p>The station with the most rides as a starting point is <%= Trip.station_with_most_rides_as_starting_point %></p>
<p>The station with the most rides as an end point is <%= Trip.station_with_the_most_rides_as_end_point %></p><br>
<p>Bike trips by month:</p>
<p><%= column_chart Trip.chart_it_brah, colors: ["FF69B4"] %></p>
<p>The bike with the most rides was <%=Trip.most_ridden_bike_id%></p>
<p>The bike with the fewest rides was <%=Trip.least_ridden_bike_id%></p>
<p>The date with the most rides was <%=Trip.highest_date%></p>
<p>The date with the fewest rides was <%=Trip.lowest_date%></p>
<p><%= Trip.least_used_sub_type %></p>
<p><%= Trip.most_used_sub_type %></p>
