<div class="page-header top">
  <h1 class="title text-left">Trips Dashboard</h1><br/>
</div>

<div class="container stations-dashboard">
  <p>Average duration of ride: <%= @trips_dashboard_data[:average_duration_ride] %></p>

  <p>Longest ride: </p>
  <p>Started at: <%= @trips_dashboard_data[:longest_ride][:start]%>, Ended at: <%= @trips_dashboard_data[:longest_ride][:end]%></p>
  <p>Duration: <%= @trips_dashboard_data[:longest_ride][:duration]%>  </p>



  <p>Shortest ride:</p>
  <p>Started at: <%= @trips_dashboard_data[:shortest_ride][:start]%>, Ended at: <%= @trips_dashboard_data[:shortest_ride][:end]%></p>
  <p>Duration: <%= @trips_dashboard_data[:shortest_ride][:duration]%>  </p>
</div>


<div class="container all-stations trips-dashboard">
  <div class="panel">
    <div class="panel-heading stations-panel">Month by Month Breakdown</div>
    <p>Stations with the most ride as a starting place: <%= @trips_dashboard_data[:popular_starting_station] %></p>
    <p>Station with the most ride as an ending place: <%=	@trips_dashboard_data[:popular_ending_station]  %></p>
    <p>Month by month breakdown of number of rides with subtotals for each year:</p></<br>
    <% @trips_dashboard_data[:month_breakdown].each do |year, months|%>
    <h3><%= year.to_i %></h3>
      <table class="table table-striped table-hover table-condensed table-bordered">
      <tr>
        <th>Month</th>
        <th>Value</th>
      </tr>
      <% months.each do |month| %>
      <tr>
        <td><%=	 month[0] %></td>
        <td><%=	 month[1]%></td>
      </tr>
      <%end%>
    </table>
    <%end%>

    <p>Most ridden bike with total number of rides: <%=	@trips_dashboard_data[:most_ridden_bike]  %></p>
    <p>Least ridden bike with total number of rides: <%=	 @trips_dashboard_data[:least_ridden_bike] %></p>
    <p>User subscription type:</p>
    <table class="table table-striped table-hover table-condensed table-bordered">
      <tr>
        <th>Items</th>
        <th>Customer</th>
        <th>Subscriber</th>
      </tr>
      <tr>
        <td>Total customers:</td>
        <td><%=	 @trips_dashboard_data[:subscription_breakout].values[0][0] %></td>
        <td><%=	 @trips_dashboard_data[:subscription_breakout].values[1][0] %></td>

      </tr>
      <tr>
        <td>Percentage: </td>
        <td><%=	 @trips_dashboard_data[:subscription_breakout].values[0][1] %></td>
        <td><%=	 @trips_dashboard_data[:subscription_breakout].values[1][1] %></td>
      </tr>
    </table>

    <p>Single date with highest number of trips:</p>
    <p>Date: <%= @trips_dashboard_data[:top_trip_date][0].strftime("%B %d, %Y")%> </p>
    <p>Trips: <%= @trips_dashboard_data[:top_trip_date][1]%></p>
    <p>Single date with lowest number of trips:</p>
    <p>Date: <%= @trips_dashboard_data[:lowest_trip_date][0].strftime("%B %d, %Y")%> </p>
    <p>Trips: <%= @trips_dashboard_data[:lowest_trip_date][1]%></p>
</div>
