<div class="page-header top">
  <h1 class="title text-left">Trips Dashboard</h1><br/>
</div>

<div class="container stations-dashboard">
  <ul>
    <li>Average Ride Duration: <span class="dashboard-value"><%= @trips.average_duration %> minutes</span></li>
    <li>Longest Ride: <span class="dashboard-value"><%= @trips.longest_trip.duration %> minutes</span></li>
    <li>Shortest Ride: <span class="dashboard-value"><%= @trips.shortest_trip.duration %> minutes</span></li>
    <li>Most Frequent Starting Station: <span class="dashboard-value"><%= @trips.name_popular_starting_station %></span></li>
    <li>Most Frequent Ending Station: <span class="dashboard-value"><%= @trips.name_popular_ending_station %></span></li>
    <li>Most Popular Bike: Bike <span class="dashboard-value"><%= @trips.most_popular_bike %> Trips: <%= @trips.most_ridden_bike_count %></span></li>
    <li>Least Popular Bike: Bike <span class="dashboard-value"><%= @trips.least_popular_bike %> Trips: <%= @trips.least_popular_bike_count %></span></li>
    <li>Subscription Breakdown: <span class="dashboard-value"><%= @trips.subscription_breakdown %></span></li>
    <li>Busiest Day: <span class="dashboard-value"><%= @trips.busiest_day %></span></li>

    <p>Weather Conditions:</p>
      <% condition = @conditions.conditions_for_busiest_day %>
      <ul>
        <li>Maximum Temperature: <%= condition.max_temp %></li>
        <li>Mean Temperature: <%= condition.mean_temp %></li>
        <li>Minimum Temperature: <%= condition.min_temp %></li>
        <li>Mean Humidity: <%= condition.mean_humidity %></li>
        <li>Mean Visibility (in miles): <%= condition.mean_visibility %></li>
        <li>Mean Wind Speed (mph): <%= condition.mean_wind %></li>
        <li>Precipitation (inches): <%= condition.precipitation %></li>
      </ul>
      <br>
      <li>Least Busy Day: <span class="dashboard-value"><%= @trips.least_busy_day %></span></li>

      <p>Weather Conditions:</p>
      <% condition = @conditions.conditions_for_least_busy_day %>
      <ul>
        <li>Maximum Temperature: <%= condition.max_temp %></li>
        <li>Mean Temperature: <%= condition.mean_temp %></li>
        <li>Minimum Temperature: <%= condition.min_temp %></li>
        <li>Mean Humidity: <%= condition.mean_humidity %></li>
        <li>Mean Visibility (in miles): <%= condition.mean_visibility %></li>
        <li>Mean Wind Speed (mph): <%= condition.mean_wind %></li>
        <li>Precipitation (inches): <%= condition.precipitation %></li>
      </ul>
  </ul>

</div>


<div class="container all-stations trips-dashboard">
  <div class="panel">
    <div class="panel-heading stations-panel">Month by Month Breakdown</div>
    <table class="table table-striped table-hover table-condensed table-bordered">
      <tr>
        <th>Year</th>
        <% @trips.monthly_totals[2013].each do |k, v| %>
          <th><%= k %></th>
        <% end %>
        <th>Subtotal</th>
      </tr>
      <% @trips.monthly_totals.each do |k, v| %>
        <tr>
          <td><%= k %></td>
            <% v.each do |k, v| %>
              <td><%= v %></td>
            <% end %>
            <td><%= v.values.sum %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
