<form action="/trips/<%= @trips.id %>" method="post">
  <fieldset>
    <legend>Edit A Trip</legend>
      <input type="hidden" name="_method" value="PUT" />
      Duration:<br>
      <input type='text' name='trip[duration]' value=<%= @trips.duration %>><br/>
      Start Date:<br>
      <input type='text' name='trip[start_date]'value=<%= @trips.start_date %>><br/>
      Start Station Name:<br>
      <input type='text' name='trip[start_station_name]' value=<%= @trips.start_station_name %>><br/>
      Start Station ID:<br>
      <input type='text' name='trip[start_station_id]' value=<%= @trips.start_station_id %>><br/>
      End Date:<br>
      <input type='text' name='trip[end_date]' value=<%= @trips.end_date %>><br/>
      End Station Name:<br>
      <input type='text' name='trip[end_station_name]' value=<%= @trips.end_station_name %>><br/>
      End Station ID:<br>
      <input type='text' name='trip[end_station_id]' value=<%= @trips.end_station_id %>><br/>
      Bike ID:<br/>
      <input type='text' name='trip[bike_id]' value=<%= @trips.bike_id %>><br/>
      Subscription Type:<br>
      <select name="trip[subscription_type]">
        <option value="Subscriber">Subscriber</option>
        <option value="Customer">Customer</option>
      </select><br>
      Zip Code:<br>
      <input type='text' name='trip[zip_code]' value=<%= @trips.zip_code %>><br/>
      <input type="submit" value="Submit">
    </fieldset>
</form>
