<form action="/trips/<%= @trip.id %>" method="post">
  <input type="hidden" name="_method" value="PUT" />
  <input type="integer" name="trip[duration]" value="<%= @trip.duration %>" />
  <input type="text" name="trip[start_date]" value="<%= @trip.start_date %>" />
  <input type="text" name="trip[start_station_id]" value="<%= @trip.start_station_id %>" />
  <input type="text" name="trip[end_date]" value="<%= @trip.end_date %>" />
  <input type="text" name="trip[end_station_id]" value="<%= @station.end_station_id %>" />
  <input type="integer" name="trip[bike_id]" value="<%= @station.bike_id %>" />
  <select name="trip[subscription_type]">
    <% @trips.sort_by(&:subscription_type).each do |trip| %>
    <option value="<%= trip.subscription_type %>">
      <%= trip.subscription_type.upcase %>
    </option>
    <% end %>
  </select>
  <input type="text" name="trip[zip_code]" value="<%= @trip.zip_code %>">
</form>
