<h1>Edit your trip</h1>
<hr>
<form action="/trips/<%= @trip.id %>" method="POST">
  <input type="hidden" name="_method" value="PUT" />
  <h3>Duration: </h3>
  <p><input type="text" name="trip[duration]" value="<%= @trip.duration %>"/></p>

  <h3>Start Date: </h3>
  <p><input type="text" name="trip[start_date]" value="<%= @trip.start_date %>"/></p>

  <h3>End Date: </h3>
  <p><input type="text" name="trip[end_date]" value="<%= @trip.end_date %>"/></p>

  <h3>Starting Station: </h3>
  <p><input type="text" name="trip[start_station]" value="<%= @trip.start_station_id %>"/></p>

  <h3>Ending Station: </h3>
  <p><input type="text" name="trip[end_station]" value="<%= @trip.end_station_id %>"/></p>

  <h3>Bike id: </h3>
  <p><input type="text" name="trip[trip_bike_id]" value="<%= @trip.bike_id %>"/></p>

  <h3>Subscriber or Customer: </h3>
  <p><input type="text" name="trip[subscription]" value="<%= @trip.subscription %>"/></p>

  <h3>Zipcode: </h3>
  <p><input type="text" name="trip[zipcode]" value="<%= @trip.zipcode %>"/></p>

  <input type='submit' value="Update Trip"/>
</form>
