<body>
<div class="edit-background" >
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-beam">
    </div>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand nav navbar-nav" href="/">
          <img class="brand-logo" alt="Brand" src="bs.png">
        </a>
        <h1> EDIT: Trip? </h1>
      </div>
    <div>
      <a class="nav navbar-nav navbar-right" href="/trip-dashboard">
        <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
      </a>
      <a class="nav navbar-nav navbar-right" href="/trips">
        <h3 class="back-to-index">Back to Trips</h3>
      </a>
    </div>
    </div>
  </nav>
<div class="container container-body">
<form class="edit-form" action="/trips/<%= @trip.id %>" method="post">
  <div class="form-group">
    <input type="hidden" name="_method" value="PUT" />
    <label class="entry_title">Duration: </label>
    <input type="text" name="trip[name]" value="<%= @trip.name %>">
  </div>
  <div class="form-group">
    <label class="entry_title">Start Date: </label>
    <input type="number" name="trip[dock_count]" value="<%= @trip.dock_count %>">
  </div>
  <div class="form-group">
    <label class="entry_title">End Date: </label>
    <input type="text" name="trip[city]" value="<%= @trip.city %>">
  </div>
  <div class="form-group">
    <label class="entry_title">Start Station Name: </label>
    <input class="input_installation" type="date" name="trip[installation_date_id]" value="<%= @trip.installation_date.date %>">
  </div>
  <div class="form-group">
    <label class="entry_title">End Station Name: </label>
    <input class="input_installation" type="date" name="trip[installation_date_id]" value="<%= @trip.installation_date.date %>">
  </div>
  <div class="form-group">
    <label class="entry_title">Bike Id: </label>
    <input class="input_installation" type="date" name="trip[installation_date_id]" value="<%= @trip.installation_date.date %>">
  </div>
  <div class="form-group">
    <label class="entry_title">Subscription Type: </label>
    <input class="input_installation" type="date" name="trip[installation_date_id]" value="<%= @trip.installation_date.date %>">
  </div>
  <div class="form-group">
    <label class="entry_title">Zipcode: </label>
    <input class="input_installation" type="date" name="trip[installation_date_id]" value="<%= @trip.installation_date.date %>">
  </div>
  <button class="btn btn-warning" type="submit">Submit Changes</button>
</form>
</div>
</div>
<body>
