<div class='edit-container'>
  <form action="/trips/<%= @trip.id %>" method="post">
    <h1>EDIT THIS TRIP</h1>
    <input type="hidden" name="_method" value="PUT" />
    <input type="integer" name="trip[duration]" value="<%= @trip.duration %>" />
    <input type="text" name="trip[start_date]" value="<%= @trip.start_date %>" />
    <input type="text" name="trip[start_station_id]" value="<%= @trip.start_station_id %>" />
    <input type="text" name="trip[end_date]" value="<%= @trip.end_date %>" />
    <input type="text" name="trip[end_station_id]" value="<%= @trip.end_station_id %>" />
    <input type="integer" name="trip[bike_id]" value="<%= @trip.bike_id %>" />
    <input type="text" name="trip[subscription_type]" value="<%= @trip.subscription_type %>" />
    <input type="integer" name="trip[zip_code]" value="<%= @trip.zip_code %>">
    <input class='submit-btn' type="submit" value ="SUBMIT">
  </form>
</div>