<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Trips Index</title>
  </head>
  <body>
    <% @trips.each do |trip| %>
    <%= trip.duration %>
    <%= trip.start_date %>
    <%= trip.start_station_name %>
    <%= trip.end_date %>
    <%= trip.end_station_name %>
    <%= trip.bike_id %>
    <%= trip.subscription_type %>
    <%= trip.zip_code %>
    <% end %>
  </body>
</html>
