<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Bike Share Management Application</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="../../public/css/bootstrap.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
<!-- Header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-toggle"></span>
      </button>
      <a class="navbar-brand" href="#">Bike Share Administrative Panel</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
            MENU <span class="caret"></span></a>
          <ul id="g-account-menu" class="dropdown-menu" role="menu">
            <li><a href="/stations/new">Add a new station</a></li>
            <li><a href="#">Edit a station</a></li>
            <li><a href="#">Nav item</a></li>
            <li><a href="#">Nav item</a></li>
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div><!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container">

  <!-- upper section -->
  <div class="row">
	  <div class="col-sm-16">
      <h3><i class="glyphicon glyphicon-dashboard"></i> All Stations</h3>
      <hr>

      <div class="row">
        <div class="col-md-7">
  			  <div class="well">Inbox Messages <span class="badge pull-right">3</span></div>
            <hr>
          <div class="panel panel-default">
            <div class="panel-heading"><h4>Top stations</h4></div>
            <div class="panel-body">
              <small>Redwood City Caltrain Station  |  bike inventory status</small>
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%">
                  <span class="sr-only">72% full</span>
                </div>
              </div>

              <small>Japantown Bike Station  |  bike inventory status</small>
              <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                  <span class="sr-only">60% full</span>
                </div>
              </div>

              <small>South Van Ness at Market  |  bike inventory status</small>
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 42%">
                <span class="sr-only">42% full</span>
                </div>
              </div>

              <small>2nd at Townsend  |  bike inventory status</small>
              <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 88%">
                <span class="sr-only">88% full</span>
                </div>
              </div>

            </div>
          </div>
        </div><!--/col-->

            <!--right-->
        <div class="col-md-5">

          <div class="btn-group btn-group-justified">
            <a href="/stations/new" class="btn btn-info col-sm-3">
              <i class="glyphicon glyphicon-plus"></i><br>
              add a station
            </a>
            <a href="#" class="btn btn-info col-sm-3">
              <i class="glyphicon glyphicon-cog"></i><br>
              edit a station
            </a>
            <a href="#" class="btn btn-info col-sm-3">
              <i class="glyphicon glyphicon-question-sign"></i><br>
              help
            </a>
          </div>
              <hr>
    				<p>
            Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet.
            </p>
            <p>
            Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. Suspendisse in justo eu magna luctus suscipit.
            </p>
			    </div><!--/col-span-6-->
        </div>
      </div>
  </div><!--/row-->
  <!-- /upper section -->

  <!-- lower section -->
  <div class="row">

    <div class="col-md-16">
      <hr>
      <table class="table table-striped">
        <thead>
          <tr><th>All Trips</th><th>Duration</th><th>Start Date</th><th>Start Station</th><th>End Date</th><th>End Station</th><th>Bike ID</th><th>Subscription ID</th><th>Zipcode ID</th><th>&nbsp;</th></tr>
        </thead>
        <tbody>
          <% @trips.each do |trip| %>
          <tr class="all-stations-info">
            <td><%= trip.duration %></td>
            <td><%= trip.start_date %></td>
            <td><%= trip.start_station_id %></td>
            <td><%= trip.end_date %></td>
            <td><%= trip.end_station_id %></td>
            <td><%= trip.bike_id %></td>
            <td><%= trip.subscription_id %></td>
            <td><%= trip.zipcode_id %></td>

						<td><form action="/trips/<%= trip.id %>" method="post">
              <input type="hidden" name="_method" value="DELETE" />
              <input type="submit" value="Delete Station" />
            </form></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div>
        <ul>
					<%= will_paginate @trips %>
          <!-- <li><a href="/trips/page/<%= @previous %>">Previous</a></li>
          <li><a href="/trips/page/<%= @next %>">Next</a></li> -->
        </ul>
      </div>

      <hr>

      </div>
    </div>
  </div>



    <div class="col-sm-16">
      <footer class="text-center">This web application was developed by Team Sauce. <a href="#"><strong>Hire us!</strong></a></footer>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
    </div>

  </body>
</html>
