<h1>All Trips</h1>

<%= will_paginate @trips %>

<% @trips.each do |trip| %>
  <a href="/trips/<%=trip.id%>"><h4>Trip ID: <%= trip.id %></h4></a>
  <p>Duration: <%= trip.duration/60 %> minutes</p>
  <p>Start Date: <%= trip.start_date.strftime("%A, %B %d, %Y @ %I:%M%P") %></p>
  <p>End Date: <%= trip.end_date.strftime("%A, %B %d, %Y @ %I:%M%P") %></p>
  <p>Start Station: <%= trip.start_station.name%></p>
  <p>End Station: <%= trip.end_station.name%></p>
  <p>Bike ID: <%= trip.bike.bike_number%></p>
  <p>Subscription Type: <%=  trip.subscription_type.subscription_type%></p>
  <p>Zip Code: <%= trip.zip_code.zip_code unless trip.zip_code.nil?%></p>
  <br>
  <a class="btn btn-primary" href='/trips/<%= trip.id %>/edit'>edit</a>
  <form action="/trips/<%= trip.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input class="btn btn-danger" type="submit" value="Delete Trip">
  </form>
<% end %>

<%= will_paginate @trips %>
