<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bike-Share</title>
    <link rel='stylesheet' href='style.css'/>
  </head>
  <body>
    <h1>First 30 Trips</h1>
    <hr>
    <form action="/trips/new">
      <input type="submit" value="Add New Trip"/>
    </form>
    <table>
      <tr>
        <th>Trip ID</th>
        <th>Options</th>
      </tr>
        <% @trips.each do |trip| %>
        <tr>
          <td><p><%= trip.id %></p></td>
          <td>
            <form action="/trips/<%=trip.id%>">
              <input type="submit" value="View"/>
            </form>
          </td>
          <td>
            <form action="/trips/<%=trip.id%>/edit">
              <input type="submit" value="Edit"/>
            </form>
          </td>
          <td>
            <form action="/trips/<%=trip.id%>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Delete Trip" />
            </form>
          </td>
        </tr>
        <% end %>
      </table>
    <hr>
    <%= will_paginate @trips %>
  </body>
 </html>
