<h1>All Trips</h1>

<h3><a href="/trips/new">Create New Trip</a></h3>
<table>
  <tr>
    <th>Duration</th>
    <th>Start Date</th>
    <th>Start Station</th>
    <th>End Date</th>
    <th>End Station</th>
    <th>Bike ID</th>
    <th>Subscription Type</th>
    <th>Zip Code</th>
  </tr>

  <% @trips.each do |trip| %>
  <tr>
    <td><%= trip.duration %></td>
    <td><%= trip.start_date_id %></td>
    <td><%= trip.start_station_id %></td>
    <td><%= trip.end_date_id %></td>
    <th><%= trip.end_station_id %></th>
    <th><%= trip.bike_id %></th>
    <th><%= trip.substription_type %></th>
    <th><%= trip.zipcode %></th>
    <td><a href="/trips/<%= trip.id %>">Trip Info</a></td>

      <td>
      <form class="" action="/trips/<%= trip.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" name="" value="delete <%= trip.name %>">
      </form>
      </td>
    </tr>
  <% end %>
</table>
