<div class="page-header top">
  <h1 class="title text-left">All Trips</h1><br/>
</div>

<div class="container all-trips">

  <div class="panel">

  <a href="/"><button class="btn btn-default">Home</button></a>
  <a href="/trips/new"><button class="btn btn-primary">Add Trips</button></a>
  <a href="/trips-dashboard"><button class="btn btn-info">Trips Dashboard</button></a>

    <div class="panel-heading stations-panel">All Trips</div>

    <table class="table table-striped table-hover table-condensed">
      <tr>
        <th>Trip ID</th>
        <th>Start Date</th>
        <th>Start Station</th>
        <th>End Date </th>
        <th>End Station</th>
        <th>Bike</th>
        <th>Subsciption</th>
        <th>Zipcode</th>
      </tr>

      <% @trips.each do |trip| %>
        <tr class="trip">
          <td>
          <a href="/trips/<%= trip.id %>">Trip <%=trip.id%>
          </a>
          </td>

          <td><%= trip.date_ref.date %></td>
          <td><%= trip.start_station.name%></td>
          <td><%= trip.end_date.date %></td>
          <td><%= trip.end_station.name %></td>
          <td><%= trip.bike.bike %></td>
          <td><%= trip.subscription_type.sub_type %></td>
          <td><%= trip.zipcode.zipcode unless trip.zipcode.nil? %></td>

          <td><a href="/trips/<%= trip.id %>/edit" class='edit'><button class="btn btn-warning">Edit</button></a></td>
          <td>
            <form action="/trips/<%= trip.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </td>
        </tr>
      <% end %>
    </table>


    <%if @params[:page] == 0 %>
      <a href="/trips?page=1"><button class="btn btn-warning">next page</button></a>
    <% elsif @params[:status] == false %>
      <a href="/trips?page=<%=@params[:page].to_i-1%>"><button>previous page</button></a>
    <% else %>
      <a href="/trips?page=<%=@params[:page].to_i-1%>"><button>previous page</button></a>
      <a href="/trips?page=<%=@params[:page].to_i+1%>"><button>next page</button></a>
    <% end %>
  </div>
</div>