<h1>Trips</h1>

<div class="trips">
  <a href="/trips/new"> Add New Trip </a>
  <br>
  <br>
  <% @trips.each do |trip| %>
    <a href="/trips/<%= trip.id %>"><%= trip.id %></a>
    <p><%= trip.duration %></p>
    <p><%= trip.start_date %></p>
    <p><%= trip.start_station %></p>
    <p><%= trip.end_date %></p>
    <p><%= trip.end_station %></p>
    <p><%= trip.bike_id %></p>
    <p><%= trip.subscription_type %></p>
    <p><%= trip.zip_code %></p>
  <% end %>

</div>
