<h1>Trips</h1>

<div class="trips">
  <a href="/trips/new"> Add New Trip </a>
  <br>
  <br>
  <% @trips.each do |trip| %>
    <a href="/trips/<%= trip.id %>"><%= station.name %></a>

    <p><%= station.dock_count %></p>
    <p><%= station.city %></p>
    <p><%= station.installation_date %></p>
    <a href="/stations/<%= station.id %>/edit">Edit</a>
    <form action="/stations/<%= station.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete"/>
    </form>
  <% end %>

</div>
