<h1>Create New Trip</h1>
<a href="/trips">back</a>
<form action="/trips" method="post">
  <label>Duration: </label>
  <input type="number" name="trip[duration]">
  <label>Start Date: </label>
  <input type="date" name="trip[start_date_id]">
  <label>Start Station: </label>
  <select name="trip[start_station_id]">
    <% @stations.each do |station| %>
      <option value="<%= station.id %>"><%= station.name %></option>
    <% end %>
  </select>
  <label>End Date: </label>
  <input type="date" name="trip[end_date_id]">
  <label>End Station: </label>
  <select name="trip[end_station_id]">
    <% @stations.each do |station| %>
      <option value="<%= station.id %>"><%= station.name %></option>
    <% end %>
  </select>
  <label>Bike Id: </label>
  <input type="text" name="trip[bike_id]">
  <!-- <select name="trip[bike_id]">
    <% Trip.pluck(:bike_id).each do |bike| %>
      <option value="<%= bike %>"><%= bike %></option>
    <% end %>
  </select> -->
  <label>Subscription Type: </label>
  <select name="trip[subscription_type]">
    <option value="User">User</option>
    <option value="Subscriber">Subscriber</option>
  </select>
  <label>Zipcode: </label>
  <input type="text" name="trip[zipcode_id]">
  <br><br>
  <button type="submit">Create Trip</button>
</form>
