<h1>Create a Trip</h1>

<form action="/trips" method="post">
    <label for="">Start Date:</label>
    <input type="date" name="trip[start_date]" class="start_date">
    </br>

    <label for="">Start Station:</label>
    <select name="trip[start_station]">
    <% @stations.each do |station| %>
      <option value=<%= station.id %>>
        <%= station.name %>
      </option>
    <% end %>
  </select>
    </br>
    <label for="">End Date:</label>
    <input type="date" name="trip[end_date]">
    </br>
    <label for="">End Station:</label>
    <select name="trip[end_station]" class="end_station">
    <% @stations.each do |station| %>
      <option value=<%= station.id %>>
        <%= station.name %>
      </option>
    <% end %>
  </select>
    </br>
    <label for="">Subscription:</label>
    <select name="trip[subscription]">
    <% @subscriptions.each do |subscription| %>
      <option value=<%= subscription.sub_type %>>
        <%= subscription.sub_type %>
      </option>
    <% end %>
  </select>
    </br>
    <label for="">Bike:</label>
    <input type="textfield" name="trip[bike]">
    </br>
    <label for="">Zipcode:</label>
    <input type="textfield" name="trip[zipcode]">
    <br>
    <input type="submit" value="Create New Trip" />
</form>
</br>
