<h1>Trip Number #<%= @trip.id %></h1>

<h3>Duration: <%= @trip.duration %></h3>
<h3>Starting Station: <%= @trip.start_station.name %></h3>
<h3>Ending Station: <%= @trip.end_station.name %></h3>
<h3>Bike ID: <%= @trip.bike_id %></h3>
<h3>Start Date: <%= @trip.start_date %></h3>
<h3>End Date: <%= @trip.end_date %></h3>
<h3>Subscription Type: <%= @trip.subscriptions.name %></h3>

<a href="/trips/<%=@trip.id%>/edit">Edit</a>
<form action="/trips/<%=@trip.id%>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
