<h2>Trip Number <%= @trip.id %></h2>
<%= @trip.duration %><br />
<%= @trip.start_date %><br />
<%= @trip.start_station.name %><br />
<%= @trip.end_date %><br />
<%= @trip.end_station.name %><br />
<%= @trip.bike_id %><br />
<%= @trip.subscription_type %><br />
<%= @trip.zip_code %><br />
<form action="/trips/<%= @trip.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete Trip" />
</form>
