<h2 class='title'>Trip</h2>

<p class='duration'>Duration: <%= @trip.duration %></p>
<p class='start_date'>Start Date: <%= @trip.start_date %></p>
<p class='end_date'>End Date: <%= @trip.end_date %></p>
<p class='subscription_type'>Subscryption Type: <%= @trip.subscription_type %></p>
<p class='bike_bin'>Bike: <%= @trip.bike_id %></p>
<p class='start_station'>Start Station: <%= @trip.start_station.name %></p>
<p class='end_station'>End Station: <%= @trip.end_station.name %></p>

<form action="/trips/<%= @trip.id %>/edit" method="POST">
  <input type="hidden" name="_method" value="GET">
  <input type="submit" value="Edit"/>
</form>

<form action="/trips/<%= @trip.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete"/>
</form>
