<h1>Trip</h1>
<a href="/trips">back</a>
<a href="/trips/<%= @trip.id %>/edit">edit</a>
<h2>Info</h2>
<p>Duration: <%= @trip.duration %></p>
<p>Start Date: <%= @trip.start_date.date %></p>
<p>Start Station: <%= @trip.start_station.name %></p>
<p>End Date: <%= @trip.end_date.date %></p>
<p>End Station: <%= @trip.end_station.name %></p>
<p>Bike ID: <%= @trip.bike_id %></p>
<p>Subscription Type: <%= @trip.subscription_type %></p>
<p>Zipcode: <%= @trip.zipcode.zipcode %></p>
