<h1>Trip</h1>

<h2>Info</h2>
<p>Duration: <%= @trip.duration %></p>
<p>Start Date: <%= @trip.start_date.date %></p>
<p>Start Station: <%= @trip.start_station.name %></p>
<p>End Date: <%= @trip.end_date.date %></p>
<p>End Station: <%= @trip.end_station.name %></p>
<p>Bike ID: <%= @trip.bike_id %></p>
<p>Substription Type: <%= @trip.subscription_type %></p>
<!-- zipcode does not render with zipcode_id or zipcode.zipcode -->
<p>Zipcode: <%= @trip.zipcode_id %></p>
