<h1>Trip: <%= @trip.id.to_s%></h1>

<p>duration: <%= @trip.duration%> minutes </p>
<p>start date: <%= @trip.start_date.date.to_s%></p>
<p>end date: <%= @trip.end_date.date.to_s%></p>
<p>start station: <%= @trip.start_station%></p>
<p>end station: <%= @trip.end_station%></p>
<p>bike number: <%= @trip.bike_id%></p>
<p>subscription type: <%= @trip.subscription_type.subscription_type%></p>
<p>zip code: <%= @trip.zip_code.zip_code%></p>
