<div class="jumbotron">
  <h1>Trip: <%= @trip.id %></h1>
</div>
<div class="table-responsive">
  <table class="table text-left">
    <tr>
      <th>Trip ID</th>
      <th>Duration</th>
      <th>Start Date</th>
      <th>Start Station</th>
      <th>End Date</th>
      <th>End Station</th>
      <th>Bike ID</th>
      <th>Subscription Type</th>
      <th>Zip Code<th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr>
          <td><%= @trip.id %></td>
          <td><%= @trip.duration %></td>
          <td><%= @trip.start_date %></td>
          <td><%= @trip.start_station_name %></td>
          <td><%= @trip.end_date %></td>
          <td><%= @trip.end_station_name %></td>
          <td><%= @trip.bike_id %></td>
          <td><%= @trip.subscription_type %></td>
          <td><%= @trip.zip_code %></td>
          <td>
            <form action="/trips/<%= @trip.id %>/edit" method="get">
              <button type="submit" class="btn btn-primary btn active" role="button" aria-pressed="true" value="edit">Edit</a>
            </form>
          </td>

          <td>
            <form action="/trips/<%= @trip.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn btn-primary btn active" role="button" aria-pressed="true" value="delete">Delete</a>
            </form>
          </td>
        </tr>
      </table>
    </div>
