<body>
  <div class="show-me-body">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-beam">
    </div>
    <div class="navbar-header">
      <a class="navbar-brand nav navbar-nav navbar-left" href="/">
        <img class="brand-logo" alt="Brand" src="/bs.png">
      </a>
      <a href="/trips"><h1>Back To Trip Index</h1></a>
    </div>
    <div>
      <a class="nav navbar-nav navbar-right" href="/trip-dashboard">
        <span class="glyphicon glyphicon-home show-right" aria-hidden="true"></span>
      </a>
    </div>
  </nav>
<button type="button" class="btn btn-warning btn-grow"><a href="/trips/<%= @trip.id %>/edit">Edit Trip</a></button>
<div class="container-fluid">
    <div class="show_p">
      <h4>TRIP DETAILS</h4>
      <br/>
      <p>Duration: (s)</p>
      <h6><em><%= @trip.duration%></em></h6>
      <p>Start Date: </p>
      <h6><em><%= @trip.start_date.date %></em></h6>
      <p>Start Station: </p>
      <h6><em><%= @trip.start_station.name %></em></h6>
      <p>End Date: </p>
      <h6><em><%= @trip.end_date.date %></em></h6>
      <p>End Station: </p>
      <h6><em><%= @trip.end_station.name %></em></h6>
      <p>Bike Id: </p>
      <h6><em><%= @trip.bike_id %></em></h6>
      <p>Subscriber Type: </p>
      <h6><em><%= @trip.subscription_type %></em></h6>
      <p>Zipcode: </p>
      <h6><em><%= @trip.zipcode.zipcode %></em></h6>
    </div>
  </div>
</div>
</body>
