<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bike-Share</title>
    <link rel='stylesheet' href='/style.css'/>
    <nav>
    <ul id='container'>
      <li>
        <a class="active" href='index.html'>Home</a>
      </li>
      <li>
        <a href='/stations'>Stations</a>
      </li>
      <li>
        <a href='/conditions'>Weather Conditions</a>
      </li>
      <li>
        <a href='/trips'>Trips</a>
      </li>
      <li style="float:right">
        <h1>San Francisco Bike Share</h1>
      </li>
    </ul>
  </nav>
  </head>
  <body>
    <h1>Trip details</h1>
    <hr>
      <h3>Duration:<h3>
      <p><%= @trip.duration %></p>

      <h3>Start Date:</h3>
      <p><%= @trip.start_date %></p>

      <h3>End Date:</h3>
      <p><%= @trip.end_date %></p>

      <h3>Starting Station:</h3>
      <p><%= @trip.start_station_id %></p>

      <h3>Ending Station<h3>
      <p><%= @trip.end_station_id %></p>

      <h3>Bike id:</h3>
      <p><%= @trip.bike_id %></p>

      <h3>Subscriber or Customer:</h3>
      <p><%= @trip.subscription %></p>

      <h3>Zipcode:</h3>
      <p><%= @trip.zipcode %></p>

      <form action="/trips/<%= @trip.id %>/edit">
        <input type="submit" value="Edit"/>
      </form>

      <form action="/trips/<%= @trip.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Trip" />
      </form>

      <form action="/trips">
        <input type="submit" value="Back to All Trips"/>
      </form>
  </body>
 </html>
