<!DOCTYPE html>
<html>
<head>
  <title>Trip</title>
</head>

<body>
  <h3>Duration: <%= @trips.duration %></h3>
  <p>Start Date: <%= @trips.start_date %></p>
  <p>Start Station: <%= @trips.start_station_id %></p>
  <p>End Date: <%= @trips.end_date %></p>
  <p>End Station: <%= @trips.end_station_id %></p>
  <p>Bike Id: <%= @trips.bike_id %></p>
  <p>Subscription Type: <%= @trips.subscription_type %></p>
  <p>Zip Code: <%= @trips.zip_code %></p>
</body>

</html
