<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Total Station Count:</h2>
      <p><%= @stations.all.count %></p>
    </div>
    <div class="col-md-4">
      <h2>Average Bikes per Station:</h2>
      <p><%= @stations.average_per_station.round %></p>
    </div>
    <div class="col-md-4">
      <h2>Most bikes available:</h2>
      <p><%= @stations.most_bikes_available_at_station %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Most bikes available at: </h2>
      <p><%= @stations.stations_with_most_bikes[1].name %></p>
      <p><%= @stations.stations_with_most_bikes[2].name %></p>
      <p><%= @stations.stations_with_most_bikes[3].name %></p>
    </div>
    <div class="col-md-4">
      <h2>Fewest bikes available at:</h2>
      <p><%= @stations.stations_with_least_bikes[1].name %></p>
      <p><%= @stations.stations_with_least_bikes[2].name %></p>
      <p><%= @stations.stations_with_least_bikes[3].name %></p>
    </div>
    <div class="col-md-4">
      <h2>Fewest Bikes available:</h2>
      <p><%= @stations.least_bikes_available_at_station %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Newest station: </h2>
      <p><%= @stations.most_recent_installed_station.name %></p>
    </div>
    <div class="col-md-4">
      <h2>Oldest Station:</h2>
      <p><%= @stations.oldest_station.name %></p>
    </div>
  </div>
</div>
