<div class="jumbotron">
  <h1>Trip Dashboard</h1>
</div>
<h3>Average duration of a ride:
  <%= %></h3>
<h3>Longest ride:
  <%= %></h3>
<h3>Shortest ride:
  <%= %></h3>
<h3>Station with the most rides as a starting place:
  <%= %></h3>
<h3>Station with the most rides as an ending place:
  <%= %></h3>
<h3>Month by Month breakdown of number of rides with subtotals for each year:
  <%= %></h3>
<h3>Most ridden bike with total number of rides for that bike:
  <%= %></h3>
<h3>Least ridden bike with total number of rides for that bike:
  <%= %></h3>
<h3>User subscription type breakout with both count and percentage:
  <%= %></h3>
<h3>Single date with the highest number of trips with a count of those trips:
  <%= %></h3>
<h3>Single date with the lowest number of trips with a count of those trips:
  <%= %></h3>