<div class="jumbotron">
  <h1>Trip Dashboard</h1>
</div>
<h3>Average duration of a ride: <%= @average_duration_of_a_ride %> seconds</h3>
<h3>Longest ride: <%= @longest_ride %> seconds</h3>
<h3>Shortest ride: <%= @shortest_ride %> seconds</h3>
<h3>Station with the most rides as a starting place: <%= @most_starting_station_rides %></h3>
<h3>Station with the most rides as an ending place: <%= @most_ending_station_rides %></h3>
<h3>Month by Month breakdown of number of rides with subtotals for each year: <%= @month_by_month_breakdown %></h3>
<h3>Most ridden bike with total number of rides for that bike: <%= @least_ridden_bike %>, <%= @least_ridden_bike_number %></h3>
<h3>Least ridden bike with total number of rides for that bike: <%= @most_ridden_bike %>, <%= @most_ridden_bike_number%></h3>
<h3>User subscription percentage: <%= @user_subscription_count %></h3>
<h3>User subscription count: <%= @user_subscription_percentage%>%</h3>
<h3>Single date with the highest number of trips with a count of those trips: <%= @day_of_highest_trips %>, <%= @day_of_highest_trips_number%></h3>
<h3>Single date with the lowest number of trips with a count of those trips: <%= @day_of_lowest_trips %>, <%= @day_of_lowest_trips_number%></h3>
