<% @trips.each do |trip| %>

  <div class="demo-card-square mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title mdl-card--expand">
      <h2 class="mdl-card__title-text">Trip ID: <%= trip.id %></h2>
    </div>
    <div class="mdl-card__supporting-text">

      <p>  Duration <%= trip.duration %> </p>
      <p>  Start Date: <%= trip.start_date %> </p>
      <p>  Start Station: <%= @station.find(trip.start_station_id).name%></p>
      <p>  End Station: <%= @station.find(trip.end_station_id).name%></p>
      <p>  End Date: <%= trip.end_date %></p>
      <p>  Bike ID: <%= trip.bike_id %></p>
      <p>  Subscription Type: <%= trip.subscription_type %></p>

    </div>
        <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="trips/<%= trip.id %>">View & Edit</a>
      <form action="/trips/<%= trip.id %>" method="post">
       <input type="hidden" name="_method" value="DELETE" />
      <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Delete</button>
      </form>
    </div>
  </div>

<% end %>

<%= will_paginate @trips %>
