<h1>Station Dashboard</h1>

<p>Total Stations: <%= @stations.count %></p>
<p>Average Bikes per Station: <%= @stations.average_bikes %></p>
<p>Most Bikes Available at a Station: <%= @stations.most_bikes_count %></p>
<p>Most Bikes Available at: <%= @stations.most_bikes_avail_at %></p>
<p>Fewest Bikes Available at a Station: <%= @stations.fewest_bikes_count %></p>
<p>Fewest Bikes Available at: <%= @stations.fewest_bikes_avail_at %></p>
<p>Newest Station: <%= @stations.newest_station %></p>
<p>Oldest Station: <%= @stations.oldest_station %></p>
