<h1>Bike Share Dashboard</h1>

<ul>
  <li>Total Station Count:</br><%= Station.count %></li>
  <li> Average Bike Docks Per Station: </br> <%= Station.average_bike_docks_per_station %></li>
  <li> Most Bikes At A Station: </br> <%= Station.most_bikes_at_station %></li>
  <li> Station With Most Bikes: </br> <%= Station.stations_with_most_bikes %></li>
  <li> Fewest Bikes At Station: </br> <%= Station.fewest_bikes_at_station %></li>
  <li> Station With Fewest Bikes: </br> <%= Station.stations_with_fewest_bikes %></li>
  <li> Most Recently Installed Station: </br> <%= Station.most_recent_station %></li>
  <li> Oldest Station: </br> <%= Station.oldest_station %></li>
</ul>

<a href="/stations"> Station Index </a> </br>
<a href="/">Back to Homepage</a>
