<center><h2>Station Dashboard</h2></center>

<ul>
<li class='info'>
  <li>Total stations: <%= @station.count %></li>
  <li>Average docks per station: <%= @station.find_average_docks %></li>
  <li>Most docks available at a station: <%= @station.max_dock_count %></li>
</li>


  <li class='most-docks'>
    <h3>Station(s) with the most docks:</h3>
    <% @station.stations_with_most_docks.each do |station| %>
    <%= station.name %><br>
    <% end %>
  </li>
  <li>Fewest docks available at a station: <%= @station.min_dock_count %></li>

  <li class="least-docks">
    <h3>Station(s) with the least docks:</h3>
    <% @station.stations_with_fewest_docks.each do |station| %>
    <%= station.name %><br>
    <% end %>
  </li>

  <li class="newest-installations">
    <h3>Newest station(s)</h3>
    <% @station.newest_stations.each do |station| %>
    <%= station.name %><br>
    <% end %>
  </li>

  <li class="oldest-installations">
    <h3>Oldest station(s)</h3>
    <% @station.oldest_stations.each do |station| %>
    <%= station.name %><br>
    <% end %>
  </li>


</ul>
