<h1>Station Analytics</h1>

<div>
  <p>Total Stations: <%= Station.total_stations %></p>
  <p>Average Bikes Available (Per Station): <%= Station.avg_bikes_avail %></p>
  <p>Most Bikes Available at a Station: <%= Station.most_bikes_avail %></p>
  <p>Station with Most Bikes Available: <%= Station.station_with_most_bikes %></p>
  <p>Least Bikes Available at a Station: <%= Station.fewest_bikes_avail %></p>
  <p>Station with Fewest Bikes Available: <%= Station.station_with_fewest_bikes %></p>
  <p>Newest Station: <%= Station.most_recent_install_station %></p>
  <p>Oldest Station: <%= Station.oldest_install_station %></p>
</div> 
