<h1>Edit Station</h1>

<form action="/stations/<%= @station.id %>" method="post">
  <input type="hidden" name="_method" value="PUT">
  <label>Name:</label>
  <input type="text" name="station[name]" value="<%= @station.name %>">
  <label>Dock Count:</label>
  <input type="number" name="station[dock_count]" value="<%= @station.dock_count %>">
  <label>City: </label>
  <input type="text" name="station[city]" value="<%= @station.city %>">
  <label>Installation Date: </label>
  <input type="date" name="station[installation_date_id]" value="<%= @station.installation_date.date %>">
  <button type="submit">Edit Station</button>
</form>
