<body class="stations-show-bg">
  <div class="page-header top">
    <h1 class="title text-left"><%= @station.name %></h1><br/>
  </div>

  <div class="container station-edit">
    <div class="station-box text-center">
      <h2>Edit Station:</h2>
      <form action="/stations/<%= @station.id %>" method="post">
        <input type="hidden" name="_method" value="PUT"/>

        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" name='station[name]' value="<%= @station.name %>" class="form-control" placeholder="Name">
        </div>

        <div class="form-group">
          <label for="number_of_docks">Number of Docks:</label>
          <input type="number" name='station[dock_count]' value="<%= @station.dock_count %>" class="form-control">
        </div>

        <div class="form-group">
          <label for="installation_date">Installation Date:</label>
          <input type="date" name='station[installation_date]' value="<%= @station.installation_date %>" class="form-control">
        </div>


        <div class="form-group">
          <label for="city">City:</label>
          <input type="number" name='station[city_id]' value="<%= @station.city_id %>" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>
  </div>
</body>
