<h1>Edit <%= @station.name %> Station:</h1>

<form action="/stations/<%= @station.id %>" method="POST" class="container" id="needs-validation" novalidate>
  <div class="row">
    <div class="col-md-6 mb-1">
      <label for="validationCustom01">Name: </label>
      <input type="text" class="form-control" id="validationCustom01" placeholder="station[name]" value="<%= @station.name %>" required>
    </div>
    <div class="col-md-5 mb-1">
      <label for="validationCustom02">Dock Count: </label>
      <input type="text" class="form-control" id="validationCustom02" placeholder="station[dock_count]" value="<%= @station.dock_count %>" required>
    </div>
    <div class="col-md-4 mb-1">
      <label for="validationCustom03">City: </label>
      <input type="text" class="form-control" id="validationCustom03" placeholder="station[city]" value="<%= @station.city %>" required>
    </div>
    <div class="col-md-3 mb-1">
      <label for="validationCustom04">Installation Date: </label>
      <input type="text" class="form-control" id="validationCustom04" placeholder="station[installation_date]" value="YYYY-MM-DD"required>
      <div class="invalid-feedback">
        Please provide a date in the correct format.
      </div>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Update Station</button>
</form>
