
<div>
  <h1>Update Station</h1>
</div>

<div>
<form action="/stations/<%= @station.id %>" method="POST">

  <div>
    <input type="hidden" name="_method" value="PUT"/>
  </div>

  <div>
    <label>Name:</label>
    <input type="text" name="station[name]" value="<%= @station.name %>"/><br>
  </div>

  <div>
    <label>Dock Count:</label>
    <input type="integer" name="station[dock_count]" value="<%= @station.dock_count %>"/><br>
  </div>

  <div>
    <label>Installation Date:</label>
    <input type="date" name="station[installation_date]" value="<%= @station.installation_date %>"/><br>
  </div>

  <div>
    <div class="row">
      <div class="col-sm-3">
        <div>
          <label for="city">City:</label>
          <select name="city" value="<%= @station.city.city %>">
            <% @cities.each do |city| %>
              <option><%= city.city %></option>
            <% end %>
          </select>
          <label>Current city: <%= @station.city.city %></label>
        </div>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <a href="/stations/"><button>Cancel</button></a>

</form>
</div>