<h1>Edit Station</h1>

<form action='/stations/edit/<%=@station.id%>' method='post'>
  <input type="hidden" name='_method' value='PUT' />
  Name: <input type="textfield" name='station[name]' value="<%= @station.name %>"/>
  Number of Docks: <input type="textfield" name='station[dock_count]' value="<%= @station.dock_count %>"/>
  City: <input type="textfield" name='station[city]' value="<%= @station.city %>"/>
  Install Date: <input type="textfield" name='station[install_date]' value="<%= @station.install_date %>"/>
  <input type="submit" value="Submit" />
</form>