<body class="stations-show-bg">
  <div class="page-header top">
    <h1 class="title text-right"><%= @station.name %></h1><br/>
  </div>

  <div class="container station-edit">
    <div class="station-box text-center">
      <h2>Edit Station:</h2>
      <form action="/stations/<%= @station.id %>" method="post">
        <input type="hidden" name="_method" value="PUT"/>
        Name: <input type="text" name='station[name]' value="<%= @station.name %>"/><br/>
        Number of Docks: <input type="number" name='station[dock_count]' value="<%= @station.dock_count %>"/><br/>
        Installation Date: <input type="date" name='station[installation_date]' value="<%= @station.installation_date %>"/><br/>
        City: <input type="number" name='station[city_id]' value="<%= @station.city_id %>"/><br/>
        <input type="submit" value="Submit"/>
      </form>
    </div>
  </div>
</body>
