<h1>Edit <%= @station.name %></h1>

<form action="/stations/<%= @station.id %>" method="post">
  <label for="">Name: </label>
  <input type="textfield" name="station[name]" value= '<%=@station.name%>'>

  <label for="">City: </label>
  <input type="textfield" name="station[city]"value= '<%=@station.city%>'>

  <label for="">Dock Count: </label>
  <input type="textfield" name="station[dock_count]"value= '<%=@station.dock_count%>'>

  <label for="">Installation Date: </label>
  <input type="date" name="station[installation_date]"value= '<%=@station.installation_date%>'>

  <input type="submit" value="Submit"/>

  <input type="hidden" name="_method" value="PUT" />
</form>
