<form action="/stations/<%=@station.id%>" method="POST">
  <p>Edit</p>
  <p> Station Name: </p>
  <input type="text" name="station[name]" value="<%=@station.name%>"/></br>
  <p> Number of Docks: </p>
  <input type="number" name="station[dock_count]" value="<%=@station.dock_count%>"/></br>
  <p> City: </p>
  <input type="text" name="station[city]" value="<%=@station.city %>"/></br>
  <p> Installation Date: </p>
  <input type="date" name="station[installation_date]" value="<%=@station.installation_date%>"/></br>
  <input type="hidden" name="_method" value="PUT"/>
  <input type="submit"/>
</form>

<a href="/stations">Back to Station Index</a></br>
<a href="/">Back to Homepage</a>
