<div class="page-header top">
  <h1 class="title text-left">Stations Dashboard</h1><br/>
</div>

<div class="container all-stations">

  <h1>All Stations</h1>
  <a href="/"><button class="btn btn-default">Home</button></a>
  <a href="/stations/new"><button class="btn btn-primary">Add Station</button></a>

  <div class="panel">
    <div class="panel-heading stations-panel">All Stations</div>
    <a href="/stations-dashboard"><button class="btn btn-primary">Stations Dashboard</button></a>
    <table class="table table-striped table-hover table-condensed">
      <tr>
        <th>Name</th>
        <th>Dock Count</th>
        <th>Installation Date</th>
        <th>City</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <% @stations.each do |station| %>
        <tr class="station">
          <td><a href="/stations/<%= station.id %>"><%= station.name %></a></td>
          <td><%= station.dock_count %></td>
          <td><%= station.date_ref.date %></td>
          <td><%= station.city.name %></td>
          <td><a href="/stations/<%= station.id %>/edit"><button class="btn btn-warning">Edit</button></a></td>
          <td>
            <form action="/stations/<%= station.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>