<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bike Share</title>
  </head>
  <body>
    <h1>Station Index</h1>
      <% @stations.each do |station| %>
      <a href="/stations/<%= station.id %>"><%= station.name %></a><br>
      <%= station.dock_count %><br>
      <%= station.city %><br>
      <%= station.installation_date %><br>
      <a href="/stations/<%= station.id %>/edit">Edit</a><br>
      <form action="/stations/<%= station.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete">
      </form><br>
      <% end %>
  </body>
</html>
