<h1>All Bike Stations</h1>

<%= will_paginate @stations, renderer: BootstrapPagination::Sinatra %>

<% @stations.each do |station| %>
<div class=well>
  <a href="/stations/<%=station.id%>"><h4><%= station.name %></h4></a>
  <p>City: <%= station.city.name %></p>
  <p>Dock Count: <%= station.dock_count %></p>
  <p>Installation Date: <%= station.installation_date.strftime("%B %d, %Y")%></p>
  <a class="btn btn-primary" href='/stations/<%= station.id %>/edit'>edit</a>
  <form action="/stations/<%= station.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input class="btn btn-danger" type="submit" value="Delete Station">
  </form>
</div>
<% end %>

<%= will_paginate @stations, renderer: BootstrapPagination::Sinatra %>
