<div class="jumbotron">
  <h1>Stations</h1>
</div>
<div class="table-responsive">
  <table class="table text-left">
    <tr>
      <th>Name</th>
      <th>Dock Count</th>
      <th>City</th>
      <th>Installation Date</th>
      <th>Edit</th>
      <th>Delete<th></tr>
        <% @stations.each do |station| %>
        <tr>
          <td><a href="/stations/<%= station.id %>"><%= station.name %></a></td>
          <td><%= station.dock_count %></td>
          <td><%= station.city %></td>
          <td><%= station.installation_date %></td>
          <td>
            <form action="/stations/<%= station.id %>/edit" method="get">
              <button type="submit" class="btn btn-primary btn active btn-sm" role="button" aria-pressed="true" value="edit">Edit</a>
            </form>
          </td>

          <td>
            <form action="/stations/<%= station.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn btn-primary btn active btn-sm" role="button" aria-pressed="true" value="delete">Delete</a>
            </form>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
