<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bike Share</title>
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
  <body>
    <nav>
      <img class="logo" src="https://bikeshare.metro.net/wp-content/themes/lametro/library/images/logo.png">
      <h1>Station Index</h1>
    </nav>
    <div class="body-container">
    <% @stations.each do |station| %>
      <div class="individual-container">
        <a class="station-name" href="/stations/<%= station.id %>"><%= station.name %></a><br>
        <p>Number of Bikes: <%= station.dock_count %></p><br>
        <p>City: <%= station.city %></p><br>
        <p>Date Installed: <%= station.installation_date %></p><br>
        <div class="edit-delete">
          <a class="edit" href="/stations/<%= station.id %>/edit">Edit</a><br>
          <form class="delete" action="/stations/<%= station.id %>" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input class="delete" type="submit" value="Delete">
          </form>
        </div>
      </div>
    <% end %>
  </div>
  </body>
</html>
