<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Station Page</title>
  </head>
  <body>
    <%= @station.name %>
    <%= @station.dock_count %>
    <%= @station.city %>
    <%= @station.installation_date %>
    <a href="/stations/<%= @station.id%>/edit">Edit</a>
    <!-- <a href="/stations/<%= @station.id%>/edit">Delete</a> -->
  </body>
</html>
