<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Station Page <%= @station.name %></title>
  </head>
  <body>
    <div class="individual-station">
      <p>Station Name: <%= @station.name %></p><br>
      <p>Dock Count: <%= @station.dock_count %></p><br>
      <p>City: <%= @station.city %></p><br>
      <p>Installation Date: <%= @station.installation_date %></p><br>
      <div class="edit-delete">
        <a href="/stations/<%= @station.id%>/edit">Edit</a>
        <form class="delete" action="/stations/<%= @station.id %>" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete">
        </form>
      </div>
    </div>
  </body>
</html>
