<body>
<div class="show-me-body">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-beam">
    </div>
    <div class="navbar-header">
      <a class="navbar-brand nav navbar-nav navbar-left" href="/">
        <img class="brand-logo" alt="Brand" src="/bs.png">
      </a>
      <a href="/stations"><h1>Back To Stations Index</h1></a>
    </div>
    <div>
      <a class="nav navbar-nav navbar-right" href="/station-dashboard">
        <span class="glyphicon glyphicon-home show-right" aria-hidden="true"></span>
      </a>
    </div>
  </nav>
<button type="button" class="btn btn-warning btn-grow"><a href="/stations/<%= @station.id %>/edit">Edit Station</a></button>
<div class="container-fluid">
    <div class="show_p">
      <h4><%= @station.name %></h4>
      <br/>
      <p><strong>Dock Count: </strong></p>
      <h6><em><%= @station.dock_count %></em></h6>
      <p><strong>City: </strong></p>
      <h6><em><%= @station.city %></em></h6>
      <p><strong>Installation Date: </strong></p>
      <h6><em><%= @station.installation_date.date.strftime('%B %d, %Y') %></em></h6>
      <p><strong>Rides Started at this Station: </strong></p>
      <h6><em><%= @rides_started %></em></h6>
      <p><strong>Rides Ended at this Station: </strong></p>
      <h6><em><%= @rides_ended %></em></h6>
      <p><strong>Most Frequent Destination Station: </strong></p>
      <h6><em><%= @most_end_station %></em></h6>
      <p><strong>Most Frequent Origin Station: </strong></p>
      <h6><em><%= @most_start_station %></em></h6>
      <p><strong>Date with the Highest Number of Trips Started at this Station: </strong></p>
      <h6><em><%= @most_trips_started %></em></h6>
      <p><strong>Most Frequent Zipcode for Trips Started at this Station: </strong></p>
      <h6><em><%= @most_zipcode %></em></h6>
      <p><strong>Bike Most Frequently Used at this Station: </strong></p>
      <h6><em><%= @most_bike_id %></em></h6>
      <br/><br/>
    </div>
  </div>
</div>
</body>
