<h1>Edit Station</h1>

<form action="/stations/<%= @station.id %>" method="post" class="pure-form pure-form-aligned">
  <input type="hidden" name="_method" value="PUT" />
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Name: </label>
            <input name="station[name]" type="text" value=" <%= @station.name %>" required>
        </div>

        <div class="pure-control-group">
            <label for="dock_count">Dock Count: </label>
            <input name="station[dock_count]" type="text" value="<%= @station.dock_count %>" required>
        </div>

        <div class="pure-control-group">
            <label for="city">City: </label>
            <input name="city[name]" type="text" value="<%= @city_name %>" required>
        </div>

        <div class="pure-control-group">
            <label for="installation_date">Installation Date: </label>
            <input name="station[installation_date]" value=" <%= Date.strptime(@station.installation_date.to_s, '%Y-%m-%d').to_s%>" required>
        </div>

        <div class="pure-controls">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit</button>
        </div>
        <form action="/stations/<%= @station.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE" />
        <div class="pure-controls">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised  mdl-js-ripple-effect mdl-button--accent">Delete</button>
        </div>
</form>
    </fieldset>
</form>


