  <h1>Station Name: <%= @station.name %></h1>
  <br>
  <p>City: <%= @station.city %></p>
  <p>Dock Count: <%= @station.dock_count %></p>
  <p>Installation Date: <%= @station.installation_date%></p>

<a href='/stations/<%= @station.id %>/edit'>edit</a>
<form action="/stations/<%= @station.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Station">
</form>
