<div class="page-header">
  <h1 class="title text-right station-name"><%= @station.name %></h1><br/>
</div>

<p>Bike Capacity: <%= @station.dock_count %><br></p>
<p>Installation Date: <%= @station.installation_date %></p>
<p>City: <%= @station.city.name %></p>
<p>Number of Rides starting from this station: <%= @station.start_trips.count %></p>
<p>Number of Rides ending at this station: <%= @station.end_trips.count%></p>
<p>Most frequent destination station: <%= @station.frequent_destination %></p>
<p>Most frequent origination station: <%= @station.frequent_origination %></p>
<p>Busiest Day: <%= @station.busiest_day %></p>
<p>Most frequent customer zip code: <%= @station.max_zip_code_count %></p>
<p>Most frequently used bike: <%= @station.most_frequent_bike %></p>
<button type="button"><a href="/stations/<%= @station.id %>/edit">Edit</a></button>

<form action="/stations/<%= @station.id %>" method="post">
  <div class="form-group">
    <input type="hidden" name="_method" value="DELETE" />
    <input type="submit" value="Delete">
  </div>
</form>
