<html>
<head>
  <title>Bike Share: Stations</title>
</head>
<body>
  <main>
    <section>
      <div class="row">
        <div class="col-md-1 empty-rounded-div" ></div>
        <div class="col-md-4">
          <div class="panel panel-default show-div">
            <div class="panel-heading">
              <h2 class="panel-heading-text"><%= @station.name  %></h2>
            </div>
            <div class="panel-body ">
              <!-- <h2 ><strong> Station Number:</strong> <%= @station.id  %> </h2> -->
              <p class="station-info-text"><strong>Dock Count:</strong> <%= @station.dock_count %> </p>
              <p class="station-info-text"><strong>Installation Date:</strong> <%= @station.installation_date %>  </p>
              <p class="station-info-text"><strong>City ID:</strong> <%= @station.city_id  %> </p><br>
              <!-- <a role="button" class"btn btn-primary" href="/stations">View all Stations</a> -->
              <a href="/stations" class="btn btn-xs btn-default btn element-center-hor" role="button ">View All Stations</a>
              <a href="/stations/<%= @station.id %>/edit" class="btn btn-xs btn-default element-center-hor" role="button">Edit This Station</a>
              <a href="" class="btn btn-xs btn-danger element-center-hor" role="button">Delete This Station</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 show-div">
          <div class="panel-body show-div">
            <h2 class="show-splash">Bicycle Station Number <%= @station.id  %></h2>
            <img src="http://i.imgur.com/sQGfeLx.jpg" alt="Bicycle Icon" class="bike-icon-show">
          </div>
        </div>
        <!-- <div class="col-md-1 empty-rounded-div"></div> -->
      </div>
    </section>
  </main>
</body>
</html>
