<h1> Station Name: <%= @station.name  %> </h1>
<p>Station Number: <%= @station.id  %> </p>
<p>Dock Count: <%= @station.dock_count %> </p>
<p>Installation Date: <%= @station.installation_date %>  </p>
<p>City:  <%= @station.city.city  %> </p>
<a href="/stations">View all Stations</a>
