<h1>Station <%= "#{@station.name}" %></h1>

<div class="stations">
    <h3><%= @station.name %></h3>
    <p><%= @station.dock_count %></p>
    <p><%= @station.city %></p>
    <p><%= @station.installation_date %></p>
</div>

<p>Most frequent destination station from here: <%= Trip.most_frequent_destination(@station.name) %></p>
