
<h1><%= @station.name%></h1>
Dock Count: <%= @station.dock_count %><br>
City: <%= @station.city %><br>
Install Date: <%= @station.installation_date %><br>
<a href="/stations/<%= @station.id%>/edit"> Edit this station</a>
