<h1><%= @station.name %></h1>

<h3>Station Info:</h3>
<p>Dock Count: <%= @station.dock_count %></p>
<p>City: <%= @station.city %></p>
<p>Installation Date: <%= @station.installation_date %></p>
<form action="/stations/<%= @station.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete" />
</form>
<a href="/stations/<%= @station.id %>/edit">Edit</a>

Number of rides started at this station:
Number of rides ending at this station:
Most frequent destination station from here:
Most frequent origination station to here:
Date with highest number of origination trip from here:
Most frequent zipcode for users starting trips at this station:
Most frequently use bike starting at this station:
