<div class="page-header top">
  <h1 id="station_name_header" class="title text-left"><%= @station.name %></h1><br/>
</div>

<div class="container">
  <div class="station-box text-center">
    <h2>Info</h2>
    <p>Dock Count: <%= @station.dock_count%></p>
    <p>Installation Date: <%= @station.date_ref.date %></p>
    <p>City: <%= @station.city.name %></p>
    <div>
    <a href="/stations/<%= @station.id %>/edit"><button class="btn btn-warning" >Edit</button></a>
    <form action="/stations/<%= @station.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input class="btn btn-danger" type="submit" value="Delete">
    </form>
    </div>

    <h2>Station trends</h2>
    <p>Total rides started at this stations: <%=	 @trip_individual_data[:rides_started] %> </p>
    <p>Total rides ended and this station: <%=	 @trip_individual_data[:rides_ended] %></p>
    <p>Most frequent destination at this station: <%=	 @trip_individual_data[:most_popular_destination] %></p>
    <p>Most frequent origin station: <%=	 @trip_individual_data[:most_popular_origin] %></p>
    <p>Date with highest number of trips started at this station: <%=	 @trip_individual_data[:most_popular_date] %></p>
    <p>Most Frequent Zipcode for users starting trips at this station: <%= @trip_individual_data[:most_popular_zipcode] %></p>
    <p>Bike id most frequently starting a trip at this station: <%= @trip_individual_data[:most_popular_bike] %></p>
  </div>
</div>
