<div class="jumbotron">
  <h1>Station Dashboard</h1>
</div>
<h3>Total Count of Stations:
  <%= @count %></h3>
<h3>Average Bikes Available:
  <%= @average %></h3>
<h3>Most bikes available at a station:
  <%= @most_bikes %></h3>
<h3>Station(s) where the most bikes are available:
  <%= @stations_with_most_bikes %></h3>
<h3>Fewest bikes available at a station:
  <%= @fewest_bikes_avaiable %></h3>
<h3>Station(s) where the fewest bikes are available:
  <%= @stations_with_fewest_bikes %></h3>
<h3>Most recently installed station:
  <%= @most_recent_station %></h3>
<h3>Oldest station:
  <%= @oldest_station %></h3>