
<body>

<a href="/">Return to home</a>

  <p>All Station Count: <%= Station.count %></p>
  <p>Average Bikes (based on docks): <%= Station.average_bikes %></p>
  <p>Most Bikes (based on docks): <%= Station.most_bikes %></p>
  <p>Station(s) with most bikes (based on docks): <%= Station.stations_by_most_docks %></p>
  <p>Fewest bikes (based on docks): <%= Station.fewest_bikes %></p>
  <p>Station(s) with fewest bikes (based on docks): <%= Station.stations_by_least_docks %></p>
  <p>Newest Station: <%= Station.newest_station.name %></p>
  <p>Oldest Station: <%= Station.oldest_station.name %></p>


</body>
