
<h1>Station Dashboard</h1>
<p>Total Stations: <%= Station.count %></p>
<p>Average Bikes per Station: <%=  %></p>
<p>Most bikes at a Station: <%=  %></p>
<p>Station with most Bikes: <%=  %></p>
<p>Least bikes at Station: <%=  %></p>
<p>Station with Least Bikes: <%=  %></p>
