<!--<h1> Station Dashboard </h1>

<p> Total count of stations: <%= "#{@station.all.count}" %></p>

<p> Average bikes available per station: <%= "#{Station.average_bikes_per_station}" %> </p>

<p> Most bikes available at a station: <%="#{Station.most_bikes}" %> </p>

<p> Station(s) where the most bikes are availabe (based on docks): <br>
<% Station.with_most_bikes.each do |station| %>
  <%= station.name %> <br>
  <% end %> </p>

<p> Fewest bikes available at a station: <%="#{Station.fewest_bikes}" %> </p>

<p> Station(s) where the fewest bikes are availabe (based on docks): <br>
<% Station.with_fewest_bikes.each do |station| %>
  <%= station.name %> <br>
  <% end %> </p>

<p> Most recently installed station: <%= "#{Station.newest_station.first.name}" %> </p>
<p> Oldest station: <%= "#{Station.oldest_station.first.name}" %> </p> -->

<!--<!DOCTYPE html>
<html>
<title>BayCycles - Bike Share for Everybody</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body>
  <div class="w3-third w3-container w3-margin-bottom ">
    <div class="w3-container w3-border w3-light-grey w3-center w3-round">

      <h1> Station Dashboard </h1>

      <p> Total count of stations: <%= "#{@station.all.count}" %></p>

      <p> Average bikes available per station: <%= "#{Station.average_bikes_per_station}" %> </p>

      <p> Most bikes available at a station: <%="#{Station.most_bikes}" %> </p>

      <p> Station(s) where the most bikes are availabe (based on docks): <br>
      <% Station.with_most_bikes.each do |station| %>
        <%= station.name %> <br>
        <% end %> </p>

      <p> Fewest bikes available at a station: <%="#{Station.fewest_bikes}" %> </p>

      <p> Station(s) where the fewest bikes are availabe (based on docks): <br>
      <% Station.with_fewest_bikes.each do |station| %>
        <%= station.name %> <br>
        <% end %> </p>

      <p> Most recently installed station: <%= "#{Station.newest_station.first.name}" %> </p>
      <p> Oldest station: <%= "#{Station.oldest_station.first.name}" %> </p>

    </div>
  </div>
</body>
</html> -->


<!DOCTYPE html>
<html>
<title>Station Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-white w3-content" style="max-width:1600px">

  <nav class="w3-sidebar w3-collapse w3-orange w3-animate-left" style="z-index:3;width:210px;" id="mySidebar"><br>
    <div class="w3-container">
      <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-orange" title="close menu">
        <i class="fa fa-remove"></i>
      </a>
      <h4 class="w3-text-white"><b>BayCycles</b></h4>
      <p class="w3-text-light-grey">Bike Share for Everybody</p>
    </div>
    <div class="w3-bar-block">
      <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-light-grey"><i class="fa fa-home fa-fw w3-center"></i>HOME</a>
      <a href="/stations/new" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-light-grey"><i class="fa fa-plus fa-fw w3-center"></i>ADD NEW STATION</a>
      <a href="/station-dashboard" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-light-grey"><i class="fa fa-th-large fa-fw w3-center"></i>STATION DASHBOARD</a>
    </div>
    <div class="w3-panel w3-large">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
  </nav>

  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

  <div class="w3-main w3-center" style="margin-left:200px">

    <header id="STATIONS">
      <div class="w3-container w3-center w3-text-grey">
      <h1><b>STATION DASHBOARD</b></h1>
        <div class="w3-section w3-bottombar w3-padding-16">
          <a href="/stations"><button class="w3-button w3-light-grey w3-padding-large w3-hover-grey"><i class="w3-center"></i>Stations</button></a>
          <a href="/trips"><button class="w3-button w3-light-grey w3-padding-large w3-hover-grey"><i class="w3-center"></i>Trips</button></a>
          <a href="/conditions"><button class="w3-button w3-light-grey w3-padding-large w3-hover-grey"><i class="w3-center"></i>Weather</button></a>
        </div>
      </div>
    </header>
    <div class="info">
      <br>
      <p> Total count of stations: <%= "#{@station.all.count}" %></p>
      <p> Average bikes available per station: <%= "#{@station.average_bikes_per_station}" %> </p>
      <p> Most bikes available at a station: <%="#{@station.most_bikes}" %> </p>
      <p> Station(s) where the most bikes are availabe (based on docks): <br>
      <% @station.with_most_bikes.each do |station| %>
        <%= station.name %> <br>
        <% end %> </p>
      <p> Fewest bikes available at a station: <%="#{@station.fewest_bikes}" %> </p>
      <p> Station(s) where the fewest bikes are availabe (based on docks): <br>
      <% @station.with_fewest_bikes.each do |station| %>
        <%= station.name %> <br>
        <% end %> </p>
      <p> Most recently installed station: <%= "#{@station.newest_station.first.name}" %> </p>
      <p> Oldest station: <%= "#{@station.oldest_station.first.name}" %> </p>
    </div>
    <br>
    <br>
    <div class="w3-black w3-center w3-padding-24" title="BayCycles" target="_blank" class="w3-hover-opacity">BayCyles</a></div>
  </div>

  <script>
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
  </script>
</body>
</html>
