<label>Date:
  <input
    type="date"
    name="condition[date]"
    value="<%= @record.date %>"
  />
</label>

<br/>
<label>Max Temperature (farenheit):
  <input
    type="float"
    name="condition[max_temperature_f]"
    value="<%= @record.max_temperature_f %>"
  />
</label>

<br/>
<label>Min Temperature (farenheit):
  <input
    type="float"
    name="condition[min_temperature_f]"
    value="<%= @record.min_temperature_f %>"
  />
</label>

<br/>
<label>Mean Temperature (farenheit):
  <input
    type="float"
    name="condition[mean_temperature]"
    value="<%= @record.mean_temperature_f %>"
  />
</label>

<br/>
<label>Average Humidity:
  <input
    type="float"
    name="condition[mean_humidity]"
    value="<%= @record.mean_humidity %>"
  />
</label>

<br/>
<label>Average Visibility (miles):
  <input
    type="float"
    name="condition[mean_visibility_miles]"
    value="<%= @record.mean_visibility_miles %>"
  />
</label>

<br/>
<label>Average Wind Speed:
  <input
    type="float"
    name="condition[mean_wind_speed]"
    value="<%= @record.mean_wind_speed_mph %>"
  />
</label>

<br/>
<label>Precipitation (inches):
  <input
    type="float"
    name="condition[precipitation_inches]"
    value="<%= @record.precipitation_inches %>"
  />
</label>
