<p>Date: <%= @record.date %></p>
<p>Max Temperature (farenheit): <%= @record.max_temperature_f %></p>
<p>Min Temperature (farenheit): <%= @record.min_temperature_f %></p>
<p>Average Temperature (farenheit): <%= @record.mean_temperature_f %></p>
<p>Average Humidity: <%= @record.mean_humidity %></p>
<p>Average Visibility (miles): <%= @record.mean_visibility_miles %></p>
<p>Average Wind Speed: <%= @record.mean_wind_speed_mph %></p>
<p>Precipitation (inches): <%= @record.precipitation_inches %></p>
