<h1>Condition</h1>
<a = href="/conditions">Condition Index</a>

<h2><%= @condition.weather_date %></h2>
<h4>Temperature Range: <%= @condition.min_temperature %> - <%= @condition.max_temperature %></h4>
<h4>Temperature Average: <%= @condition.mean_temperature %> </h4>
<p>Humidity Average:<%= @condition.mean_humidity %></p></p>
<p>Visibility Average: <%= @condition.mean_visibility %></p>
<p>Wind Speed Average: <%= @condition.mean_wind_speed %></p>
<p>Precipitation: <%= @condition.precipitation %></p>
