<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>San Francisco Bike Share Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/custom.css">
  </head>

  <p>Total count of stations: <%= Station.count %></p><br>
  <p>Average bikes available per station: <%= Station.average(:dock_count) %></p><br>
  <p>Most bikes available at a station: <%= Station.maximum(:dock_count) %></p><br>
  <p>Station(s) with most bikes: <%= Station.with_most_bikes.map{&:name}.join(', ')%></p><br>
  <p>Fewest bikes available at a station: <%=Station.mininum(:dock_count) %></p><br>
  <p>Station(s) where the fewest bikes are available: <%= Station.with_least_bikes.map{&:name}.join(', ')%></p><br>
  <p>Most recently installed station(s): <%= Station.newest.map{&:name}.join(', ')%></p><br>
  <p>Oldest Station(s): <%= Station.oldest.map{&:name}.join(', ')%></p>

</html>
