
<p>Total stations: <%= Station.count %></p><br>
<p>Average bikes available per station: <%= Station.average(:dock_count) %></p><br>
<p>Most bikes available at a station: <%= Station.maximum(:dock_count) %></p><br>
<p>Stations with most bikes: <%= Station.with_most_bikes.map(&:name).join(', ')%></p><br>
<p>Fewest bikes available at a station: <%=Station.minimum(:dock_count) %></p><br>
<p>Stations with least bikes: <%= Station.with_least_bikes.map(&:name).join(', ')%></p><br>
<p>Newest stations: <%= Station.newest.map(&:name).join(', ')%></p><br>
<p>Oldest Stations: <%= Station.oldest.map(&:name).join(', ')%></p>
