<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>San Francisco Bike Share Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/custom.css">
  </head>
  <body>
    <p>Total count of stations: <%= @stations.count %></p><br>
    <p>Average bikes available per station: <%= @stations.average(:dock_count) %></p><br>
    <p>Most bikes available at a station: <%= @stations.maximum(:dock_count) %></p><br>
    <p>Station(s) with most bikes: <%= @stations.with_most_bikes.map{&:name}.join(', ')%></p><br>
    <p>Fewest bikes available at a station: <%=@stations.mininum(:dock_count) %></p><br>
    <p>Station(s) where the fewest bikes are available: <%= @stations.with_least_bikes.map{&:name}.join(', ')%></p><br>
    <p>Most recently installed station(s): <%= @stations.newest.map{&:name}.join(', ')%></p><br>
    <p>Oldest Station(s): <%= @stations.oldest.map{&:name}.join(', ')%></p>
  </body>
</html>
