<ul>
  <li> Total Station Count: <%= @stations.count %></li>
  <li> Average Bikes Available Per Station: <%= @stations.average_available_bikes %></li>
  <li> Most Bikes Available At A Station: <%= @stations.maximum_by_bikes %></li>
  <li> Station(s) With Most Available Bikes: <%= @stations.stations_with_max_bikes %></li>
  <li> Fewest Bikes Available At A Station: <%= @stations.minimum_by_bikes %></li>
  <li> Station(s) With Fewer Available Bikes: <%= @stations.stations_with_min_bikes %></li>
  <li> Most Recently Installed Station: <%= @stations.most_recently_installed %></li>
  <li> Oldest Station: <%= @stations.earliest_installed %></li>
</ul>
