<h1> Edit your Station </h1>

<form action="/stations/<%= @station.id %>" method="post">
  <input type="hidden" name="_method" value="PUT" />
  <input type='text' name='station[name]' value="<%= @station.name %>"/><br/>
  <textarea name='station[city]'><%= @station.city %></textarea><br/>
  <textarea name='station[installation_date]'><%= @station.installation_date %></textarea><br/>
  <textarea name='station[dock_count]'><%= @station.dock_count %></textarea><br/>
  <input type='submit'/>
</form>
