<label>Name:
  <input
    type="text"
    name="station[name]"
    value="<%= @record.name %>"
  />
</label>
<label>City:
  <input
    disabled
    name="station[city]"
    value="<%= @record.city %>"
  />
</label>
<br/>

<label>Installation Date:
  <input
    type="date"
    name="station[installation_date]"
    value="<%= @record.installation_date %>"
  />
</label>
<label>Dock Count:
  <input
    type="number"
    name="station[dock_count]"
    value="<%= @record.dock_count %>"
  />
</label>
<br/>

<label>Latitude:
  <input
    disabled
    name="station[lat]"
    value="<%= @record.lat %>"
  />
</label>
<label>Longetude:
  <input
    disabled
    name="station[long]"
    value="<%= @record.long %>"/>
</label
><br/>
