<h1> Station Index </h1>
<a href="/stations/new">Add a Station</a>

<% @stations.each do |station| %>
  <h3><a href="/stations/<%= station.id %>"><%= station.name %></a></h3>
  <p>City: <%= station.city %></p>
  <p>Installation Date: <%= station.installation_date %></p>
  <p>Dock Count: <%= station.dock_count %></p>
  <a href="/stations/<%= station.id  %>/edit">Edit</a>
  <form action="/stations/<%= station.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
<% end %>
