<h3><a href="/stations/<%= @record.id %>"><%= @record.name%></a></h3>

<p>Dock Count: <%= @record.dock_count %></p>
<p>City: <%= @record.city %></p>
<p>Installation Date: <%= @record.installation_date %></p>
