<h2>All Stations</h2>
<div>

<% @stations.each do |station| %>
    <h3><a href="/stations/<%=station.id%>"><%= station.name%></a></h3>
    <p>Dock Count: <%= station.dock_count %></p>
    <p>City: <%= station.city %></p>
    <p>installation Date: <%= station.installation_date %></p>
<% end %>

<%= will_paginate @stations %>

</div>