<h2><%=@station.name%></h2>

<a href="/stations/<%=@station.id%>/edit">
  <button type="button" name="button">Edit</button>
</a>


<ul>
  <li>City: <%=@station.city %></li>
  <li>Dock Count: <%=@station.dock_count %></li>
  <li>Installation Date: <%=@station.installation_date %></li>
</ul>
