<h1><%= @station.name %></h1>
<a href="/stations">Station Index</a>

<h3>General Information: </h3>
<p>city:<%= @station.city %></p>
<p>installation date:<%= @station.installation_date %></p>
<p>dock count:<%= @station.dock_count %></p>

<h3>Station <%= @station.name %>'s Analytics</h3>
<p>Number of rides started at this station:<%= @station.number_of_rides_started_here %></p>
<p>Number of rides ended at this station:<%= @station.number_of_rides_ended_here %></p>
<p>Most frequent destination station (for rides that began at this station):<%= @station.most_frequent_destination_station %></p>
<p>Most frequent origination station (for rides that began at this station):<%= @station.most_frequent_origination_station %></p>
<p>Date with the highest number of trips started at this station:<%= @station.highest_volume_date_here %></p>
<p>Most frequent zip code for users starting trips at this station:<%= @station.most_frequent_zip_code %></p>
<p>Bike ID most frequently starting a trip at this station:<%= @station.most_frequent_bike_id %></p>
