
<h2><%= @station.name %></h2>

<p>Dock Count: <%= @station.dock_count %></p>
<p>City: <%= @station.city %></p>
<p>Installation Date: <%= @station.installation_date %></p>
<p>Latitude: <%= @station.lat %>
<p>Longetude: <%= @station.long %>

<form action="/stations/<%=@station.id%>/delete" method="post">
  <p>Delete</p>
  <input type="hidden" name="_method" value="DELETE">
  <input type='Delete'>
</form>

<a href="/stations">Back to Index</a>
