<h2><%= @record.name %></h2>

<p>Dock Count: <%= @record.dock_count %></p>
<p>City: <%= @record.city %></p>
<p>Installation Date: <%= @record.installation_date %></p>
<p>Latitude: <%= @record.lat %>
<p>Longetude: <%= @record.long %>
