<h2>Dashboard</h2>


<h4>Average duration of a ride: <%=@average_ride_duration%></h4>
<h4>Longest ride: <%=@longest_ride%></h4>
<h4>Shortest ride: <%=@shortest_ride%></h4>
<h4>Station with the most rides as a starting place: <%=@station_name_most_rides_start%> (<%=@station_count_most_rides_start%>)</h4>
