<p>Starting Station with most rides <%= @trips.starting_station_with_most_rides%></p>
<p>Top Rider: <%= @trips.top_rider%> No. of Rides: <%= @trips.rides_per_top_rider%></p>
<p>Bottom Rider: <%= @trips.bottom_rider%> No. of Rides: <%= @trips.rides_per_bottom_rider%></p>


<%@trips.subscription_type_breakout.each do |outer, inner|%>
  <h3>Subscription Type: <%= outer %></h3>
    <p>Number: <%= inner[:subtotal]%></p>
    <p>Percentage: <%=inner[:percentage] %>%</p>
<%end%>

<p>TEST Single date with the highest number of trips with a count of those trips: <%= @trips.single_date_with_highest_trips %> No. of trips: <%= %></p>

<p>TEST Single date with the fewest number of trips with a count of those trips: <%= @trips.single_date_with_fewest_trips %> No. of trips: <%= %></p>
