<p>Starting Station with most rides <%= @trips.starting_station_with_most_rides%></p>
<p>Top Rider: <%= @trips.top_rider%> No. of Rides: <%= @trips.rides_per_top_rider%></p>
<p>Bottom Rider: <%= @trips.bottom_rider%> No. of Rides: <%= @trips.rides_per_bottom_rider%></p>


<%@trips.subscription_type_breakout.each do |hash|%>
  <p>Subscription Type: <%= hash.keys %>
    <p>Number: <%= hash.values[0]%>
    <p>Percentage: <%=hash.values[1] %>
<%end%>
