<h2>Trip Dashboard</h2>
<a href=<%= index %>>Click to See All <% @model.name %></a>

<p>Starting station with most rides: <%= @records.starting_station_with_most_rides%></p>
<p>Ending station with most rides: <%= @records.ending_station_with_most_rides%></p>
<p>Top Rider: #<%= @records.top_rider%>  (No. of Rides: <%= @records.rides_per_top_rider%>)</p>
<p>Bottom Rider: #<%= @records.bottom_rider%>  (No. of Rides: <%= @records.rides_per_bottom_rider%>)</p>

<p>=======</p>

<p>Subscriptions: <%= @records.subscription_count%></p>
<ul>
    <%@records.subscription_type_breakout.each do |outer, inner|%>
    <p>Subscription Type: <%= outer %></p>
        <li>Number: <%= inner[:subtotal]%>
        <li>Percentage: <%=inner[:percentage] %>
    <%end%>
  </ul>

<p>=======</p>
<p>Most Active Day: <%= @records.most_active_date%> (<%=@records.trips_by_most_active_date%> trips)</p>
<p>Least Active Day: <%= @records.least_active_date%> (<%=@records.trips_by_least_active_date%> trip(s))</p>

<p>TEST Single date with the highest number of trips: <%= @records.single_date_with_highest_trips %>,    No. of trips: <%= @records.single_date_with_highest_trips_count %></p>
<p>TEST Single date with the fewest number of trips: <%= @records.single_date_with_fewest_trips %>,    No. of trips: <%=@records.single_date_with_fewest_trips_count %></p>
<br/>
<p>TEST Weather on single date with highest number of trips:</p>
<p>TEST Max Temperature(F): <%= @records.max_temperature_on_most_popular_day %> degrees</p>
<p>TEST Mean Temperature(F): <%= @records.mean_temperature_on_most_popular_day %> degrees</p>
<p>TEST Min Temperature(F): <%= @records.min_temperature_on_most_popular_day %> degrees</p>
<p>TEST Mean Humidity: <%= @records.mean_humidity_on_most_popular_day %>%</p>
<p>TEST Mean Visibility: <%= @records.mean_visibility_on_most_popular_day %> miles</p>
<p>TEST Mean Wind Speed: <%= @records.mean_wind_speed_on_most_popular_day %> mph</p>
<p>TEST Mean Precipitation: <%= @records.inches_of_precipitation_on_most_popular_day %> inches</p>
<br/>
<p>TEST Weather on single date with lowest number of trips:</p>
<p>TEST Max Temperature(F): <%= @records.max_temperature_on_least_popular_day %> degrees</p>
<p>TEST Mean Temperature(F): <%= @records.mean_temperature_on_least_popular_day %> degrees</p>
<p>TEST Min Temperature(F): <%= @records.min_temperature_on_least_popular_day %> degrees</p>
<p>TEST Mean Humidity: <%= @records.mean_humidity_on_least_popular_day %>%</p>
<p>TEST Mean Visibility: <%= @records.mean_visibility_on_least_popular_day %> miles</p>
<p>TEST Mean Wind Speed: <%= @records.mean_wind_speed_on_least_popular_day %> mph</p>
<p>TEST Mean Precipitation: <%= @records.inches_of_precipitation_on_least_popular_day %> inches</p>




<p>=======</p>
<p>Bike ride totals per year:</p>
<ul>
<%@records.year_month_subtotals.each do |year, totals|%>
    <li>
        <h3><%=year%></h3>
        <ul>
            <% totals.each do |month, total| %>
                <li><%=month%>: <%=total%> trips</li>
            <%end%>
        </ul>
    </li>
<%end%>
</ul>
