<h1> Trip Analytics </h1>
<br><br>

<h3>Average duration of a ride:</h3>
<%= Trip.average_duration_of_a_trip %> minutes

<h3>Longest ride: </h3>
<%= Trip.longest_ride %>

<h3>Shortest ride:</h3>
<%= Trip.shortest_ride %>

<h3>Most popular starting station: </h3>
<%= Station.most_popular_starting_station %>

<h3>Most popular ending station: </h3>
<%= Station.most_popular_ending_station %>

<h3>Monthly ride breakdown:</h3>
<%= Trip.monthly_ride_breakdown %>

<h3>Yearly ride breakdown </h3>
<%= Trip.yearly_ride_breakdown %>

<h3>Most ridden bike: </h3>
<%= Trip.hottest_bike %>

<h3>Least ridden bike</h3>
<%= Trip.most_neglected_bike %>

<h3>Rider subscription breakdown </h3>
<%= Trip.subscription_type_breakdown %>

<h3>Most popular trip date: </h3>
<%= Trip.most_popular_trip_date %>

<h3>Least popular trip date: </h3>
<%= Trip.least_popular_trip_date %>
