<h1>Edit your Trip</h1>

<form action="/trips/<%= @trip.id %>" method="post">
  <input type="hidden" name="_method" value="PUT"/>
  <input type='text' name='trip[start_station]' value="<%= @trip.start_station %>"/><br/>
  <input type='text' name='trip[end_station]' value="<%= @trip.end_station %>"/><br/>
  <input type='text' name='trip[start_date]' value="<%= @trip.start_date %>"/><br/>
  <input type='text' name='trip[end_date]' value="<%= @trip.end_date %>"/><br/>
  <input type='text' name='trip[duration]' value="<%= @trip.duration %>"/><br/>
  <input type='text' name='trip[bike_id]' value="<%= @trip.bike_id %>"/><br/>
  <input type='text' name='trip[subscription_type]' value="<%= @trip.subscription_type %>"/><br/>
  <input type='text' name='trip[zip_code]' value="<%= @trip.zip_code %>"/><br/>
  <input type='submit'/>
</form>
