<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bike Share Project</title>


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body style="background-color:gold;">
<div>
<h1 style="font-size:46px; color:#d35400">All Trips</h1>

<a href="/trips/new">
  <button class="btn success">Create New Trips</button>
  <!-- <button type="button" name="button">Create New Trips</button> -->
</a>
<a href="/trips-dashboard">
  <button class="btn info">Dashboard</button>
  <!-- <button type="button" name="button">Dashboard</button> -->
</a>

<table>
  <tr>
    <th>Duration &nbsp</th>
    <th>Start Date &nbsp</th>
    <th>Start Station Name &nbsp</th>
    <th>End Date &nbsp</th>
    <th>End Station Name &nbsp</th>
    <th>Bike ID &nbsp</th>
    <th>Subscription Type &nbsp</th>
    <th>Zip Code</th>
  </tr>
  <% @trips.each do |trip| %>
    <tr>
     
      <td><%= trip.duration %></td>
      <td><%= trip.start_date %>&nbsp</td>
      <td><a href= "/trips/<%=trip.id%>"><%= trip.start_station_name%></a></td>
      <td><%= trip.end_date %>&nbsp</td>
      <td><%= trip.end_station_name %></td>
      <td><%= trip.bike_id %></td>
      <td><%= trip.subscription_type.name%></td>
      <td><%= trip.zip_code %></td>
      <td>    <form action="/trips/<%=trip.id%>" method="post">
                  <input type="hidden" name="_method" value="DELETE" />
                  <input type="submit" value="Delete" />
                </form></td>
      </td>
    </tr>
  <% end %>


</table>

<a href="/trips/page/<%=@previous_page%>">
  <button class="btn warning">Previous</button>
  <!-- <button type="button" name="button">Previous</button> -->
</a>
<a href="/trips/page/<%=@next_page%>">
<button class="btn warning">Next</button>
<!-- <button type="button" name="button">Next</button> -->
</a>
</div>
</body>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</div>
</body>
</html>
