<h1>Trip Index</h1>
<a href="/trips/new">Add a New Trip</a>

<% @trips.each do |trip| %>
  <h3><a href="/trips/<%= trip.id %>"><%= trip.start_station.name %> - <%= trip.end_station.name %></a></h3>
  <p>Start Date - End Date: <%= trip.start_date %> - <%= trip.end_date %></p>
  <p>subscriber Type: <%= trip.subscription_type %></p>
  <a href="/trips/<%= trip.id %>/edit" value='Edit'>Edit</a>
  <form action="/trips/<%= trip.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
<% end %>

<h3><%= will_paginate @pages %></h3>
