<h2>All Trips</h2>
<div>
    <% @trips.each do |trip| %>
      <a href="/trips/<%=trip.id%>">
        <div class="summary">
          <h3><%= trip %></h3>
          <p><%= trip.duration%> minutes <%= trip.timeframe %></p>
        </div>
      </a>
    <% end %>

<%= will_paginate @trips %>

</div>
