<h2><%= @record %></h2>
<p><%= @record.duration %> minutes <%= @record.timeframe %></p>
<p>Bike ID: <%= @record.bike_id %></p>
<p>Subscription Type: <%= @record.subscription_type %></p>
<p>Zip Code: <%= @record.zip_code %></p>
