<h1>Trip</h1>
<a href="/trips">Trip Index</a>

<h2><%= @trip.start_station_id %> - <%= @trip.end_station_id %></h2>

<h2><%= @trip.start_date %> - <%= @trip.end_date %></h2>

<p>Duration: <%= @trip.duration %></p>
<p>Bike ID: <%= @trip.bike_id %></p>
<p>Subscription Type: <%= @trip.subscription_type %></p>
<p>Zip Code: <%= @trip.zip_code %></p>
