<h2><%= @trip %></h2>
<p><%= @trip.duration %> minutes <%= @trip.timeframe %></p>
<p>Bike ID: <%= @trip.bike_id %></p>
<p>Subscription Type: <%= @trip.subscription_type %></p>
<p>Zip Code: <%= @trip.zip_code %></p>
