<h1>"Trip Details"</h1>

    <p><%= @trip.id %></p>
    <p><%= @trip.duration %></p>
    <p><%= @trip.station %></p>
    <p><%= @trip.end_date %></p>
    <p><%= @trip.end_station %></p>
    <p><%= @trip.bike_id %></p>
    <p><%= @trip.subscription_type %></p>
    <p><%= @trip.zip_code %></p>
    
<a href="/trips">Back to Index</a>


