<form action = "/trip/<%= @trip.name %>" method="post">

    <p>Edit Trip</p>

    <input type="hidden" name="_method" value="PUT" />

    <input type="text" name="trip[name]"                value="<%= @trip.name %>"/><br/>
    <input type="text" name="trip[duration]"            value="<%= @trip.dock_count %>"/><br/>
    <input type="text" name="trip[station]"             value="<%= @trip.city %>"/><br/>
    <input type="text" name="trip[date]"                value="<%= @trip.installation_date %>"/><br/>
    <input type="text" name="trip[end_station]"         value="<%= @trip.end_station %>"/><br/>
    <input type="text" name="trip[bike]"                value="<%= @trip.bike %>"/><br/>
    <input type="text" name="trip[subscription_type]"   value="<%= @trip.subscription_type %>"/><br/>
    <input type="text" name="trip[zip]"                 value="<%= @trip.zip %>"/><br/> 

    <input type="submit"/>
</form>