<h1>Edit <%= @weather_condition.date %></h1>

<form action="/weather_conditions/<%= @weather_condition.id %>" method="post">

  <label for="">Date: </label>
  <input type="date" name="weather_condition[date]" value= '<%=@weather_condition.date%>'>

  <label for="">Max Temp: </label>
  <input type="textfield" name="weather_condition[max_temperature_f]"value= '<%=@weather_condition.max_temperature_f%>'>

  <label for="">Min Temp: </label>
  <input type="textfield" name="weather_condition[min_temperature_f]"value= '<%=@weather_condition.min_temperature_f%>'>

  <label for="">Mean Temp: </label>
  <input type="textfield" name="weather_condition[mean_temperature_f]"value= '<%=@weather_condition.mean_temperature_f%>'>

  <label for="">Mean Humidity: </label>
  <input type="textfield" name="weather_condition[mean_humidity]"value= '<%=@weather_condition.mean_humidity%>'>

  <label for="">Mean Visibility Miles: </label>
  <input type="textfield" name="weather_condition[mean_visibility_miles]"value= '<%=@weather_condition.mean_visibility_miles%>'>

  <label for="">Mean Wind Speed MPH: </label>
  <input type="textfield" name="weather_condition[mean_wind_speed_mph]"value= '<%=@weather_condition.mean_wind_speed_mph%>'>

  <label for="">Precipitation Inches: </label>
  <input type="textfield" name="weather_condition[precipitation_inches]"value= '<%=@weather_condition.precipitation_inches%>'>

  <input type="submit" value="Submit"/>

  <input type="hidden" name="_method" value="PUT" />
</form>
