<a href="/">go back</a>
<h1><%= @weather.date %></h1>
<p>max temperature: <%= @weather.max_temperature %></p>
<p>min temperature: <%= @weather.min_temperature %></p>
<p>mean temperature: <%= @weather.mean_temperature %></p>
<p>mean humidity: <%= @weather.mean_humidity %></p>
<p>mean visibility in miles: <%= @weather.mean_visibility %></p>
<p>mean wind speeds (mph): <%= @weather.mean_wind_speed %></p>
<p>precipitation (inches): <%= @weather.precipitation %></p>
<a href="/weathers/<%= @weather.id %>/edit">edit</a>
<form action="/weathers/<%= @weather.id %>" method = "POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete" />
</form>
