<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Condition Dashboard
    </title>
  </head>
  <body>
    <h1>Condition Dashboard</h1>
    <p>Condition Count: <%= Condition.station_count %></p><br>
    <p>Average Bikes Per Condition: <%= Condition.average_bikes_per_station%></p><br>
    <p>Max Bikes Per Condition: <%= Condition.max_bikes_per_station%></p><br>
    <p>Condition with Most Bikes Available: <%= Condition.station_with_most_bikes_available%></p><br>
    <p>Minimum Bikes Per Condition: <%= Condition.min_bikes_at_station%></p><br>
    <p>Condition with Fewest Available Bikes: <%= Condition.station_with_fewest_available%></p><br>
    <p>Most Recent Installed Condition: <%= Condition.most_recent_station%></p><br>
    <p>Oldest Installed Condition: <%= Condition.oldest_station%></p><br>
  </body>
</html> -->
