<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/table.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
    <body>
      <nav>
        <img class="logo" src="https://bikeshare.metro.net/wp-content/themes/lametro/library/images/logo.png">
        <h1>Weather Dashboard</h1>
      </nav>
      <p>Average Rides Per Condition Temperature: <%= Condition.average_rides_temp%></p><br>
      <p>Most Rides Per Condition Temperature: <%= Condition.max_rides_temp(range)%></p><br>
      <p>Least Rides Per Condition Temperature: <%= Condition.min_rides_temp(range)%></p><br>

      <p>Average Rides Per Condition Precipitation: <%= Condition.average_rides_precip(range)%></p><br>
      <p>Most Rides Per Condition Precipitation: <%= Condition.max_rides_precip(range)%></p><br>
      <p>Least Rides Per Condition Precipitation: <%= Condition.min_rides_precip(range)%></p><br>

      <p>Average Rides Per Condition Wind Speed: <%= Condition.average_rides_wind(range)%></p><br>
      <p>Most Bikes Per Condition Wind Speed: <%= Condition.max_rides_wind(range)%></p><br>
      <p>Least Bikes Per Condition Wind Speed: <%= Condition.min_rides_wind(range)%></p><br>

      <p>Average Rides Per Condition Visibility: <%= Condition.average_rides_visibility(range)%></p><br>
      <p>Most Bikes Per Condition Visibility: <%= Condition.max_rides_visibility(range)%></p><br>
      <p>Least Bikes Per Condition Visibility: <%= Condition.min_rides_visibility(range)%></p><br>
    </body>
</html>
