<h1>All Stations</h1>

<% @stations.each do |station| %>
  <h3><a href="/stations/<%= station.id %>"><%= station.name %></a></h3>
  <p><%= station.dock_count %> in <%= station.city %> as of <%= station.installation_date %><p>

<% end %>
