<h1>Trip: <%= @trip.id%></h1>

<p>durrrrrrr-ation: <%= @trip.duration%> </p>
<p>start date: <%= @trip.start_date%></p>
<p>end date: <%= @trip.end_date%></p>
<p>start station: <%= @trip.start_station%></p>
<p>end station: <%= @trip.end_station%></p>
<p>bike id: <%= @trip.bike_id%></p>
<p>subscription type: <%= @trip.subscription_type%></p>
