<h1>Station Statistics</h1>
<ul>
  <li>Total count of stations: <%= @stations.count %></li>
  <li>Average bikes available per station: <%= @stations.average(:dock_count).round %></li>
  <li>Most bikes available at a station: <%= @stations.maximum(:dock_count) %></li>
  <li>Station(s) where the most bikes are available:<ul><% @stations.where(dock_count: @stations.maximum(:dock_count)).each do |station| %>
  <li><%= station.name %></li>
      <% end %></ul></li>
  <li>Fewest bikes available at a station: <%= @stations.minimum(:dock_count) %></li>
  <li>Station(s) where the fewest bikes are available:<ul><% @stations.where(dock_count: @stations.minimum(:dock_count)).each do |station| %>
  <li><%= station.name %></li>
      <% end %></ul></li>
  <li>Most recently installed station: <%= @stations.order("installation_date DESC").first.name %></li>
  <li>Oldest station: <%= @stations.order("installation_date DESC").last.name %></li>
</ul>
