<header>
  <a href="/"><img src="/bike_share_logo.jpg"></a>
  <nav>
    <ul>
      <li><a class="current_page" href="/stations">Stations</a></li>
      <li><a href="/trips">Trips</a></li>
      <li><a href="/conditions">Weather</a></li>
    </ul>
  </nav>
</header>

<div class="show">
<h1>Station Statistics</h1>
<ul>
  <li><span class="show-attribute">Total count of stations: </span><%= @station_dashboard[:count] %></li><br>
  <li><span class="show-attribute">Average bikes available per station: </span><%= @station_dashboard[:average_available_bikes_per_station] %></li><br>
  <li><span class="show-attribute">Most bikes available at a station: </span><%= @station_dashboard[:most_bikes_available_at_a_station] %></li><br>
  <li><span class="show-attribute">Station(s) where the most bikes are available:</span><br><ul class="nested-list"><% @station_dashboard[:station_where_most_bikes_available].each do |station| %>
  <li><%= station %></li><br><% end %>
  </ul></li>
  <li><span class="show-attribute">Fewest bikes available at a station: </span><%= @station_dashboard[:fewest_bikes_available_at_station] %></li><br>
  <li><span class="show-attribute">Station(s) where the fewest bikes are available:</span><br><ul class="nested-list"><% @station_dashboard[:station_where_fewest_bikes_available].each do |station| %>
  <li><%= station %></li><br><% end %>
  </ul></li>
  <li><span class="show-attribute">Most recently installed station: </span><%= @station_dashboard[:newest_station] %></li><br>
  <li><span class="show-attribute">Oldest station: </span><%= @station_dashboard[:oldest_station] %></li><br>
</ul>
<p><a href="/stations">Back to Stations</a></p>
</div>
