<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
      Trip Dashboard
    </title>
  </head>
  <body>
    <h1>Trip Dashboard</h1>
    <p>Trip Count: <%= Trip.station_count %></p><br>
    <p>Average Bikes Per Trip: <%= Trip.average_bikes_per_station%></p><br>
    <p>Max Bikes Per Trip: <%= Trip.max_bikes_per_station%> </p><br>
    <p>Trip with Most Bikes Available: <%= Trip.station_with_most_bikes_available%></p><br>
    <p>Minimum Bikes Per Trip: <%= Trip.min_bikes_at_station%></p><br>
    <p>Trip with Fewest Available Bikes: <%= Trip.station_with_fewest_available%></p><br>
    <p>Most Recent Installed Trip: <%= Trip.most_recent_station%></p><br>
    <p>Oldest Installed Trip: <%= Trip.oldest_station%></p><br>
  </body>
</html>
