<!DOCTYPE html>
<h3><%= @station.name %></h3><br />
<span>Dock Count: <%= @station.dock_count %></span><br />
<span>City: <%= @station.city %></span><br />
<span>Installation Date: <%= @station.date %></span><br />
<h3><a href="/stations">All Stations</a></h3>
<form action="/stations/<%= @station.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete" />
</form>
