<form action="/trips" method="post">
<h1>Make a trip</h1>

<p>duration in minutes: <input type='text' name='duration'></p><br>
<p>start date: <input type='text' name= 'start_date.date.to_s'></p><br>
<p>end date: <input type='text' name= 'end_date.date.to_s'></p><br>
<p>start station: <input type='text' name='end_date.date.to_s'></p><br>
<p>end station: <input type='text' name='end_station' ></p><br>
<p>bike id: <input type='text' name='bike_id'></p><br>
<p>subscription type: <input type='text' name='subscription_type_id'></p>
<p>zip code: <input type='text' name='zip_code'></p>
</form>
<!--

p>duration in minutes: <%= @trip.duration%> </p>
<p>start date: <%= @trip.start_date.start_date.to_s%></p>
<p>end date: <%= @trip.end_date.end_date.to_s%></p>
<p>start station: <%= @trip.start_station.start_station%></p>
<p>end station: <%= @trip.end_station%></p>
<p>bike number: <%= @trip.bike_id%></p>
<p>subscription type id: <%= @trip.subscription_type.subscription_type%></p>
<p>zip code: <%= @trip.zip_code.zip_code%></p> -->
