<h1>Trips Information</h1>
<ul>
  <li>Average Ride Duration: <%= @trips.avg_duration %></li>
  <li>Longest Ride: <%= @trips.longest_ride %></li>
  <li>Shortest Ride: <%= @trips.shortest_ride %></li>
  <li>Station with Most Departures: <%= @trips.most_departed_station %></li>
  <li>Station with Least Departures: <%= @trips.least_departed_station %></li>
  <li>Rides Breakdown by Year/Month:
  <!-- <ul><%  %> We want to start an ordered list with each year and have the title of that UL be the actual year and ride count:
  -Year (total)
    -January: total
    -Feburary: total
    -...
    <li></li>
  </ul> -->
  </li>
  <li>ID of Most Ridden Bike: <%= @trips.most_ridden_bike %> (<%= @trips.ride_count(@trips.most_ridden_bike)%> rides)</li>
  <li>ID of Least Ridden Bike: <%= @trips.least_ridden_bike %> (<%= @trips.ride_count(@trips.least_ridden_bike)%> rides)</li>
  <li><p>User Subscription types:</p>
    <ul><% @trips.subscription_types_and_info.each do |type, info| %>
      <p><%= type %></p>
      <li><%= info[:count] %> subscriptions (<%= info[:pct] %>% of business)</li>
    <% end %>
    </ul>
  </li>
  <li>Busiest Day: <%= @trips.busiest_day %></li>
  <li>Slowest Day: <%= @trips.slowest_day %></li>
</ul>
