<ul>
	<%	Condition.breakout_temps.each do |range, data| %>
		<li>Range: <%=range%>-<%=range + 10%></li>
		<li>Average Number of Rides: <%=data[:avg]%></li> 
	<li>Highest Number of Rides <%=data[:max]%></li>
	<li>Lowest Number of Rides <%=data[:min]%></li>
	<% end %>
</ul>
